[2021-07-08 17:14] martin-belanger opened #17 "Missing AENs"
Hi @keithbusch
CC: @hreinecke

I use libnvme to connect to a discovery controller. I create a persistent nvme device because I need to monitor AENs. I also register for uevents to know when changes (i.e. AENs) are detected on the persistent device. I do get a uevent the first time I apply changes to the target system. I use this uevent to trigger a call to the `nvmf_get_discovery_log()` method. Bu

[2021-07-08 22:00] keithbusch commented on #17
Thanks for the notice, I'll take a look. The library should not be sending AER requests on its own, so we should be relying completely on the kernel to be sending the command and notifying of the completion when such an event arises. The only thing that user space should be responsible for is re-arming the AER via a log page read, but it sounds like that's happening.

[2021-07-09 05:55] hreinecke commented on #17
Have you checked whether the 'RAE' (retain asynchronous event) bit is set when calling nvmf_get_discovery_log()?
Without it there's a chance that the state machine in the kernel will be messed up.

Also, it should be pretty easy to figure out if the kernel forgets to send an AER; a tcpdump should tell you ...

[2021-07-09 15:21] keithbusch commented on #17
Oh, it looks like RAE is always set to true. The last discovery log page read needs to have that cleared.

[2021-07-12 14:00] martin-belanger commented on #17
Thanks for the fix @keithbusch. I tested it and the AENs are now working properly.

[2021-07-12 14:00] #17 closed

[2021-08-30 16:12] animeshtrivedi opened #32 "broken scan"
hi, i might be missing something with the latest updates in libnvme, but the nvme_scan seems to be broken (from this commit: https://github.com/linux-nvme/libnvme/commit/c1f6a24d0e8781ad0fe8e18215957436a504d2de)

all examples with scans (in the test directory) work before this commit, and then no nvme devices are listed after this commit. See the example below (first with a previous commit that sh

[2021-08-30 17:14] martin-belanger commented on #32
Hi Animesh,

I tried the latest "master" branch and it's working for me. Did you run "sudo make install" before running the tests?

Regards,
Martin
________________________________
From: Animesh Trivedi ***@***.***>
Sent: Monday, August 30, 2021 12:12
To: linux-nvme/libnvme ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [linux-nvme/libnvme] broken scan (#32)

[EXTERNAL EMAIL]

hi, i might be mi

[2021-08-30 19:51] animeshtrivedi commented on #32
Hi @martin-belanger thanks for checking.

I did a local installation (with --prefix in my `~/tmp/local`) and it did not make any difference. Actually the problem started from `nvme-cli` tool when I updated it to use the master libnvme code. The current build of that is on libnvme @ 667334f (git submodule dependency).

I have now tested it on two machines (QEMU, and one server with NVMe) both with

[2021-08-30 21:32] keithbusch commented on #32
What kernel are you using?

[2021-08-30 21:58] animeshtrivedi commented on #32
I have tested it with 5.4 (default Ubuntu 20.04 kernel) and 5.12 kernels. Same result.

[2021-08-31 02:19] keithbusch commented on #32
Huh, those are all recent enough and using the same sysfs hierarchy that the "list" command uses that there's nothing I can think of off the top of my head why that wouldn't be successful, and it's working for me using those kernel versions (generic, not. the Ubuntu ones, but that shouldn't matter).

If you think this is a libnvme problem, can you verify if running `examples/display-columnar` from

[2021-08-31 06:32] animeshtrivedi commented on #32
hi @keithbusch , `examples/display-columnar` also fails. See the command sequences below. I first ran the `libnvme` checkout from `4c3e5ed` (the last working commit for me), and it showed all the NVMe drives properly. Then a master checkout, and rerun the command with no output.

[code]

[2021-09-02 16:11] keithbusch commented on #32
I've tried various kernels and unable to reproduce this, so it's slow progress on my side. If I write a debug patch, could you test with that?

[2021-09-02 16:21] animeshtrivedi commented on #32
hi @keithbusch absolutely, happy to run patches. Meanwhile I have reverted on the old working commit. Many thanks for your help.

[2021-09-02 16:44] keithbusch commented on #32
never mind, i can see that the makefile rule isn't actually rebuilding my source tree correctly!!! Started fresh, yeah, it's broken because it requires it finds hosts, which it won't find here.... I'll fix it.

[2021-09-02 16:48] keithbusch commented on #32
@hreinecke , just fyi, it looks like the host scanning portion recently added doesn't work for pci attached.

[2021-09-02 16:55] keithbusch commented on #32
It should be successful now.

[2021-09-02 17:24] animeshtrivedi commented on #32
just tried - the current master works (with the reverted patch).

[2021-09-02 17:28] keithbusch commented on #32
thank you for confirming, and for the report.

I'll try to fix the build rules so I don't get these false positives again. Maybe switch to 'meson' from 'make' since some people think that's easier to maintain.

[2021-09-02 21:45] #32 closed

[2021-10-08 16:30] hreinecke opened #54 "Update CI workflow for meson build"
The CI workflow will need to be updated for the meson build; ideally we should be adding a 'test' step, too, to run sanity tests for each build.

[2021-10-12 09:35] #54 closed, assigned to igaw

[2021-10-12 09:52] igaw opened #62 "Remove systemd dependency"
With systemd:

[code]

without:
[code]

[2021-10-12 11:39] igaw commented on #62
The feature was added in 3e0520ecad13 ("Read system UUID from DMI and merge hostnqn generation functions")

So I'd say @hreinecke it's your call as you have added the systemd bits :)

[2021-10-12 12:48] #62 closed

[2021-10-15 09:37] olase23 opened #65 "undefined reference to `json_util_get_last_err' on debian buster"
On debian 10.5 the latest version of `libjson-c3:amd64 0.12.1+ds-2+deb10u1` doesn't have a symbol for function `json_util_get_last_err`:

ninja:
/usr/bin/ld: src/25a6634@@nvme@sha/nvme_json.c.o: in function json_read_config:
json.c:(.text+0x5f9): undefined reference to json_util_get_last_err
/usr/bin/ld: src/25a6634@@nvme@sha/nvme_json.c.o: in function json_update_config:
json.c:(.text+0xc0c): und

[2021-10-19 08:58] #65 closed, assigned to nobody

[2021-10-19 14:04] leongross opened #72 "Missing dependencies"
# Issue:
When building `libnvme` the build fails due to the missing `pyhon3` development headers.
[code]
# Fix
Add `python3-devel` to meson dependencies. I would do it myself but I never used meson in dev, so I figured someone else would be faster than me adding this small feature.

[2021-10-21 13:24] martin-belanger commented on #72
@leongross - From what you provided I can see that package `python3-devel` is installed on your system. This is the package that provides `Python.h`. And `Python.h` should be located in `/usr/include/python[ver]/`.  Also note that meson says that it found the dependency through `sysconfig` and not pkg-config.
[code]
On my Fedora 34 I get this message from meson showing that the dependency was foun

[2021-10-22 06:25] igaw opened #82 "Python binding test"
Add at least a few simple test for the Python binding to the test framework. Currently, we are blind if a change in the shared
library will break the binding.

[2021-10-25 07:43] igaw opened #85 "'SPDX-License-Identifier: LGPL-2.1-or-newer' is not a valid tag"
The SPDX-License-Identifier LGPL-2.1-or-newer is not a valid tag in

  https://github.com/linux-nvme/libnvme/blob/95df64a75a175d9ffd4838653f0f61603cca20b0/src/nvme/log.h#L3

I suspect it should be LGPL-2.1-or-later. Hannes could you please send a PR which fixes this? Thanks

[2021-11-02 12:39] igaw opened #90 "Python tests fail if library is embedded"
When the library is embedded the testsuite fails in the Python tests:

https://github.com/linux-nvme/nvme-cli/runs/4079968220?check_suite_focus=true

I suspect the paths are not correct.

[2021-11-02 12:40] igaw commented on #90
@martin-belanger do happen to have time to look into this problem?

[2021-11-02 12:52] martin-belanger commented on #90
Yes I can have a look today.

[2021-11-02 13:11] igaw commented on #90
I've went ahead and disabled the tests in nvme-cli. I had the tests for nmve-cli disabled anyway, so there is little point in enabling them for the embedded version of libnvme. So there is no rush. Just in case you see easily spot the problem.

[2021-11-02 15:37] martin-belanger commented on #90
Hi @igaw - I just submitted a pull request (https://github.com/linux-nvme/libnvme/pull/91) that attempts to fix this issue. Since we were pretty much blind to the cause of the failure, I added a new step to the workflow that collects the meson test log file in case of failure. This should help us diagnose the problem further.

[2021-11-03 09:05] igaw commented on #90
Okay merged the commit from PR #91. It's probably a good idea to have some more verbose logs when things go wrong anyway.

[2021-11-08 08:35] igaw opened #95 "Add versioning to exported symbols"
Add versioning to all exported symbols,  see also discussion in #51

[2021-11-08 08:36] igaw opened #96 "Fix spelling in the documentation and extend it"
Fix all spelling errors in documentation.

[2021-11-10 12:52] igaw opened #97 "Add timeout to all commands"
@hreinecke  pointed out that it doesn't make sense to have only a timeout argument for the ZNS commands. Let's add them to the rest of the commands as well.

See also #94

[2021-11-10 17:17] igaw commented on #95
I've been looking at https://github.com/GNOME/glib is doing the symbol versioning.

1) There is no the linker map file.  Instead every symbol which needs to be exported is annotated directly in the source code
[code]
That means the symbols are either 'hidden', 'internal' or 'default'. The versioning is not done by moving the symbols into a different linker section. It's probably safe to assume doi

[2021-11-11 10:22] igaw commented on #95
I did some more research, as glib seems not the best example.

Anyway, @hreinecke's proposal seems to be used also by other projects, e.g. dpdk or systemd,
[code]
So I'd say we should do it the same way.

Though there is  one thing I noticed is that the standard semantic versioning is usually used with libraries. For example systemd uses a single number as version but for the shipped library the p

[2021-11-11 10:53] hreinecke commented on #95
Indeed, that would be fine.
(Not surprisingly, seeing that it was my idea to begin with.)

However, the real _challenging_ part here is that you cannot _remove_ symbols that way.
IE if one version marked a symbol as global, it'll _stay_ global during the entire lifetime.
And you cannot have a future library _not_ having that symbol as global.
(Like making a former global symbol local or completely

[2021-11-11 11:05] igaw commented on #95
If I understood the triple versioning scheme correctly, in case you want to remove symbols you increase the major number. That means we would do the following

- 0.y+1.0: for backwards compatible releases
- x+1.0.0: when breaking API

[2021-11-11 11:09] igaw commented on #95
https://semver.org/

[2021-11-11 11:12] hreinecke commented on #95
Oh, _that_ was not my concern.
My concern was more: _how_ do we remove symbols from the symbol map file?
We can't remove the symbol from the original version (as it was present there), and I haven't found instructions on how to deprecate symbols once added.

[2021-11-11 12:04] igaw commented on #95
Not sure what's the problem you see. When doing a major number increase, symbols can be removed from the symbol map and from the API. In this case I would move all symbols under a new prefix.

[2021-11-17 15:11] igaw commented on #82
Closing the issue as we have the basic framework in place. That doesn't mean we need to stop here with adding more python tests.

[2021-11-17 15:11] #82 closed, assigned to nobody

[2021-11-17 15:18] igaw commented on #90
The tests are disabled as there were too many problems at the moment. Let's close this is for the time being.

[2021-11-17 15:18] #90 closed

[2021-11-17 15:20] igaw commented on #95
The libnvme.map is udpated as discussed above. Also the libtool versioning is done like systemd does it.

[2021-11-17 15:20] #95 closed

[2021-11-17 15:21] igaw commented on #97
See #111

[2021-11-18 11:22] #97 closed

[2021-11-18 13:24] hreinecke commented on #85
Fixed with PR #120.

[2021-11-18 13:24] #85 closed

[2021-11-18 13:25] hreinecke commented on #96
Or, indeed, _start_ a documentation by adding 'real' function descriptions instead of the stubs we have now.

[2021-12-16 09:22] sc108-lee opened #148 "Define MASK, SHIFT to use NVME_GET"
I would like to do some modify based on usage of NVME_GET
I Just wrote only for nvme_id_nsfeat currently, Example below!
Any opinion?

From 519337c64316d8805b3d988f1b475591347f22f2 Mon Sep 17 00:00:00 2001
From: Steven Seungcheol Lee <sc108.lee@samsung.com>
Date: Thu, 16 Dec 2021 17:17:24 +0900
Subject: [PATCH] types: Define enum to use NVME_GET define

Signed-off-by: Steven Seungcheol Lee <sc108.

[2021-12-16 12:12] igaw commented on #148
We seem to have both styles of enums in types.h and it seems it is inconsistently applied. I suppose the shift/mask pattern with helpers also makes shifting/masking simpler for users of these APIs. I don't have any strong opinion on this. Something @hreinecke or @keithbusch might have more input on.

[2021-12-21 17:43] tbzatek opened #154 "nvme_ctrl_alloc() can't handle duplicate connections"
Okay, I admit my use case is a little weird and might not reflect real world scenario: loop transport, two (duplicate) connections, resulting in a single subsystem and two controllers in sysfs. The libnvme scanning logic would however only find one controller.

https://github.com/linux-nvme/libnvme/blob/ddd725e780625d25dd199dc367dda5503e13c685/src/nvme/tree.c#L1270-L1271

Looking at how `nvme_look

[2021-12-21 17:55] keithbusch commented on #154
Thanks for the report! I don't think your setup is at all unusual for a fabrics target (even if it is "loop"). I'll take a look.

[2021-12-22 06:42] hreinecke commented on #154
Hmm. That is true, we don't have a way of distinguish between them.
Typically we wouldn't notice it as we don't allow for duplicate connections.

Guess the only way to fix this is to return a list of controllers ...

[2022-01-07 14:06] #72 closed

[2022-01-09 05:15] alexmchou opened #165 "Build documentation error"
Hi,
I used "meson .build -Dman=true" then "cd .build, ninja", but got following error messages:
[1/1] Generating man with a custom command.
FAILED: doc/libnvme.1
/usr/bin/sphinx-build -b man /home/zxm/libnvme/doc /home/zxm/libnvme/.build/doc
Running Sphinx v1.8.5
building [mo]: targets for 0 po files that are out of date
building [man]: all manpages
updating environment: 2 added, 0 changed, 0 remo

[2022-01-10 08:26] igaw commented on #165
Does this also happen when you do

[code]

We had the same problem for 'test'.  Let me try to figure out what's going on.

BTW, if you want to update the in tree sources check the update-docs.sh script.

[2022-01-10 12:20] martin-belanger commented on #165
Hi @igaw - I get the exact same result. It looks like sphinx expects a file called `contents.rst`. Instead we have a file called `libnvme.rst`. I'm not familiar with sphinx. I need to Google it. I'll let you know what I find.

[2022-01-10 13:31] martin-belanger commented on #165
Submitted https://github.com/linux-nvme/libnvme/pull/167 to fix the error.

[2022-01-10 13:37] #165 closed

[2022-01-11 20:56] tasleson opened #168 "Visibility for library functions __nvme_msg, __nvme_get_log_page"
[code]

From the naming, it would seem like these shouldn't be exposed?

[2022-01-12 08:00] igaw commented on #168
`__nvme_get_log_page` seems to be part of linux.h API. But the naming is not great. We should find a better name for it, IMO.

About `__mvne_msg `, we have a discussion on this in #160 and how to expose the logging API.

[2022-01-13 09:15] igaw opened #169 "Fill holes in ioctl's argument structs"
See discussion in #150

[2022-01-14 10:45] igaw commented on #168
#173 get's rid of `__nvme_msg`

[2022-01-14 14:33] #169 closed

[2022-01-14 16:22] igaw opened #174 "Python tests fail in debug build"
When the library is configured as debug build the Python test fail due to missing str_strstr() function from the ccan library.

[2022-01-14 16:29] martin-belanger commented on #174
I'll take a look

[2022-01-14 19:26] martin-belanger commented on #174
@igaw - I figured it out.

When in debug mode, `CCAN_STR_DEBUG` is defined. This causes `#ifdef CCAN_STR_DEBUG` to evaluate to true and the standard POSIX APIs such as `strstr()` to be replaced by `str_strstr()` (see file `ccan/str/str.h`). I'm not sure why we go through all this trouble. Maybe this comment in `ccan/str/str.h` gives us a clue:
[code]
In any case, when `CCAN_STR_DEBUG` is defined,

[2022-01-14 19:27] martin-belanger commented on #174
BTW, while working on this I found some `meson.build` clean-ups that I would like to submit. If that's ok?

[2022-01-16 09:58] igaw commented on #174
Ah that's the reason. The str debug feature of ccan was already helpful in one of my debug session, so I'd like to keep it somehow. I wonder if it would be possible to add the str_strstr during debug builds to the export list.

This brings up the topic if we want to introduce a EXPORT() macro which manages the export symbols and drop the libnvme.map approach. Another point is that we need to annot

[2022-01-16 12:41] eli-schwartz commented on #174
If it's in a public header, you must export it. If it's in a private header, you should not export it. :p

Maybe for libnvme-internal useful utility functions, you'd prefer to create an e.g. `libcommon = static_library('common', sources, install: false)` and have both the libnvme library and any executables link to it -- then that static library would contain functions which aren't exported, but a

[2022-01-17 16:20] igaw opened #181 "build warnings on 32 bit architectures"
Got some buidl warnings for 32 bit architectures.

https://build.opensuse.org/build/home:wagi:branches:Base:System/openSUSE_Factory/i586/libnvme/_log

[code]

[2022-01-17 19:36] tasleson opened #182 "Missing include <stddef.h>"
For the following:

[code]

You get ...
[code]

[2022-01-18 08:13] #182 closed

[2022-01-18 08:14] igaw commented on #168
As it turns out both symbols need to be exported. The naming is just not good.

[2022-01-18 08:16] igaw commented on #148
@hreinecke Any comments on this? As I said i don't have a strong opinion but we should figure this out now. After the 1.0 release, it's too late.

[2022-01-18 09:30] igaw opened #184 "pre compiled man pages are not installed"
The current configuration will only install man pages when they are build from scratch. The pre compiled man pages in the source tree are not considered when installing.

[2022-01-18 13:45] igaw commented on #184
Good question. I don't know.

Sure we have: https://github.com/linux-nvme/libnvme/tree/master/doc/man

[2022-01-19 07:15] hreinecke commented on #148
I'd vote for a consistent approach, and use NVME_GET() (ie the MASK and SHIFT definitions) throughout the code.

[2022-01-19 07:38] igaw commented on #148
Sounds good to me. Let's get this sorted out then.

[2022-01-19 13:27] igaw commented on #174
Fixed with #185. Thanks a lot.

[2022-01-19 13:27] #174 closed

[2022-01-19 23:40] tasleson opened #187 "Ability to have error messages go to different file descriptor or user supplied callback"
I think it would be good to have a library user provide a file descriptor for logging or a call back as suggested here: https://github.com/linux-nvme/libnvme/pull/160#issuecomment-1010314146

Having all these messages to written to `stderr` isn't ideal for library users.

[2022-01-20 18:47] #181 closed

[2022-01-20 22:45] tasleson commented on #168
@igaw

Can you elaborate on this?  This works, but I'm likely missing something: https://github.com/linux-nvme/libnvme/pull/189/commits/3ffb178cab669217bb7953accdd2e6193b76a786

[2022-01-21 08:28] igaw commented on #168
Do you compile nvme-cli with libnvme together? See me comments in your POC PR on this.

[2022-01-24 16:15] tbzatek commented on #187
Well, the messages currently logged on `stderr` are more customized than the `nvme_errno_to_string()` translation but I find the error codes useful enough at the current state.

Perhaps we should set `nvme_log_level` by default to `-1` and let the clients (e.g. `nvme-cli`) set their own console logging level. Not every (consumer) library has the luxury of providing initialisation functions that ca

[2022-01-28 13:23] hreinecke commented on #187
Please check PR #202. I've added a 'nvme_root_t' argument to nvme_msg, which now holds the filedescriptor where the messages should be sent to.
Applications can then set the filedescriptor to whatever they want.
Would that work for you?

[2022-01-31 08:52] igaw commented on #148
So this is going to be bigger effort with a lot of potential to introduce regressions. As we are in the process of getting 1.0 out the door this is not going to happen. Alongside this effort we should also introduce a test frame work so we can actually test this stuff.

[2022-01-31 12:13] igaw opened #206 "API cleanup: nvme_$NAME_get() vs nvme_get_$NAME()"
The current API isn't really consistent in the naming pattern. We should use one an stick to it.

[2022-01-31 15:25] tasleson commented on #187
Yes, this works thanks

[2022-02-01 09:08] igaw opened #208 "nvme_read_config should return error code"
Parsing a JSON file can fail but the caller has no clue when this happens. Thus this function should return an error code

[2022-02-01 10:59] igaw commented on #168
Both functions are now gone from the export map.

[2022-02-01 10:59] #168 closed

[2022-02-01 10:59] igaw commented on #187
PR #202 has been merged. Closing this issue.

[2022-02-01 10:59] #187 closed

[2022-02-01 12:35] igaw opened #210 "build warnings for __u64 in printf format string on PPC64"
There are few build warnings for test/register.c  and examples/discover-loop.c

https://build.opensuse.org/build/Base:System/openSUSE_Factory/ppc64/libnvme/_log

[code]

[2022-02-01 13:05] hreinecke commented on #184
Primary reason is that compiling man-pages requires additional tooling, so building the package would be getting ever more complex.
I would vote for regenerating manpage on every release.

[2022-02-01 13:09] igaw commented on #184
I agree. In this case we should install them too.

[2022-02-02 10:16] hreinecke commented on #210
I've cleaned up the function documentation with PR #214 . Maybe it's worthwhile including that into the package to reduce the number of errors/warning generating during package build.

[2022-02-02 12:09] igaw commented on #210
project has moved on build.opensuse.org: https://build.opensuse.org/build/Base:System/openSUSE_Factory/ppc64/libnvme/_log

[2022-02-02 12:23] hreinecke commented on #184
Please check PR #215 . That should have all what's required here.

[2022-02-02 12:33] igaw commented on #210
I thought this is easy:

[code]

though now I get:
[code]

[2022-02-02 12:46] hreinecke commented on #210
And just make 'asq' and 'acq' an 'long unsigned int' is not an option?

[2022-02-02 12:46] igaw commented on #210
If I understand this correctly, we use Linux types and `inttypes.h` is defined for the Posix types. And in this case __u64 is not matching the Posix defintion for a unsigned 64 bit type.

[2022-02-02 12:52] igaw commented on #210
With a bit of explicit casting it works. Though note some macros expand to '__u64' too.

[code]

[code]

[2022-02-02 12:54] igaw commented on #210
And the funny thing about this is, we don't build warnings on anything but PPC64...

[2022-02-02 13:03] hreinecke commented on #210
Sigh. Two implementations for 64-bit values conflicting.
'unsigned long long' is IIRC a gcc extension, ensuring that you get a 'real' 64 bit type even on 32 bit architectures.
'PRIx64' is a POSIX thingie, to ensure that 'unsigned long' is printed correctly (as its size depends on the architecture).

Consequently, either use '%llx' for __u64, or 'PRI64' for 'unsigned long'.

[2022-02-02 13:04] hreinecke commented on #210
So reviewing the first error, it looks as if PPC would define '__u64' as 'unsigned long'. Which arguably is not quite correct.

[2022-02-02 13:22] igaw opened #216 "doc/meson.build licence"
Hi Martin,

the doc/meson.build file contains following SPDX license text"

`# SPDX-License-Identifier: BSD-3`

Please send a PR which changes this to

`# SPDX-License-Identifier: LGPL-2.1-or-later`

Also the descriptionis wrong:

`# This file is part of STorage Appliance Services (STAS).
`

Thanks,
Daniel

[2022-02-02 13:23] igaw commented on #216
@martin-belanger

[2022-02-02 14:41] martin-belanger commented on #216
Fixed: https://github.com/linux-nvme/libnvme/pull/217

[2022-02-02 14:51] #216 closed

[2022-02-02 14:55] igaw commented on #154
Ah, in this case we should at least change the current API so it is possible to return several controllers before we do our 1.0 release.

[2022-02-02 16:43] hreinecke opened #218 "meson -Dman=true doesn't rebuild the man pages"
Running 'meson -Dman=true' will not regenerated the man pages; primarily because it's running off a separate subdirectory, and any man pages will be stored there (and not in the master directory 'man/doc'). But more importantly, it will just create single 'libnvme.2' file based on the contents of 'doc/libnvme.rst', and not the individual man pages we have now.

And furthermore, the 'libnvme.rst' f

[2022-02-03 08:55] hreinecke commented on #154
I've now prepared PR #219, which should address this issue. Can you test with that?

[2022-02-03 10:27] hreinecke commented on #154
With PR #219 I now get:

# /tmp/nvme list -v
Subsystem        Subsystem-NQN                                                                                    Controllers
---------------- ------------------------------------------------------------------------------------------------ ----------------
nvme-subsys0     nqn.2014-08.org.nvmexpress:NVMf:uuid:95096971-6a11-46a0-8fbc-c301194c5857

[2022-02-03 10:44] hreinecke commented on #154
PR has been merged.

[2022-02-03 10:44] #154 closed

[2022-02-03 10:55] igaw commented on #218
In nvme-cli we will only install the documentation when -Ddocs=all, -Ddocs=man or -Ddocs=html is used. First it will try to generated the docs but if the needed tooling is not available it falls back to use the pre compiled ones. I think this scheme makes also sense to implement here. Thoughts?

[2022-02-03 13:35] hreinecke commented on #208
PR merged.

[2022-02-03 13:35] #208 closed

[2022-02-04 11:52] #184 closed

[2022-02-04 11:52] #218 closed

[2022-02-04 15:47] tbzatek commented on #154
Works fine now in my original scenario, thanks.

[2022-02-10 01:49] Bobarshad opened #228 "meson.build:39:0: ERROR: Dependency "uuid" not found, tried pkgconfig and cmake"
The Meson build system
Version: 0.61.1
Source dir: /home/ngd/hossein/libnvme
Build dir: /home/ngd/hossein/libnvme/.build
Build type: native build
Project name: libnvme
Project version: 1.0
C compiler for the host machine: cc (gcc 7.5.0 "cc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0")
C linker for the host machine: cc ld.bfd 2.30
C++ compiler for the host machine: c++ (gcc 7.5.0 "c++ (Ubuntu 7.5.0-3ubuntu

[2022-02-10 17:23] igaw commented on #228
[code]

Does this version of pkg-config and cmake lookup the system paths as well?

We have a CI build using Ubuntu as distro. So I am pretty sure there is no bug in libnvme.

[2022-02-10 17:23] #228 closed

[2022-02-10 17:35] martin-belanger commented on #228
I tried on Ubuntu 18.04 and everything works fine for me.

After "`apt-get install uuid-dev`", I have the following files installed:
[code]
Maybe something went wrong with your installation. Have you tried running "sudo ldconfig" to reconfigure the linker run-time bindings. https://man7.org/linux/man-pages/man8/ldconfig.8.html

[2022-02-10 17:36] martin-belanger commented on #228
Scratch that. That was on Ubuntu 20.04

[2022-02-10 20:25] eli-schwartz commented on #228
This would have absolutely no effect on whether the pkg-config program can find the text files describing "uuid"s compile flags.

All it could ever do is tell `/lib/ld-linux-x86-64.so.2` the newly cached location of `libuuid.so.1` when trying to execute a program which depends on `libuuid.so.1`.

The non-standard pkg-config program located in /usr/local is probably a much better bet. @Bobarshad, w

[2022-02-10 22:55] Bobarshad commented on #228
Thanks all,
I used another machine with Ubuntu 18.04, with the following commands. It works now.

$ sudo apt-get install uuid-dev
$ sudo apt-get install meson
$ meson --version
0.45.1

$ meson .build
	The Meson build system
	Version: 0.45.1
	Source dir: /home/ngd/hossein/project/libnvme
	Build dir: /home/ngd/hossein/project/libnvme/.build
	Build type: native build
	meson_options.txt:9:0: ERROR: Un

[2022-02-11 08:15] sc108-lee opened #231 "long double does not fit with json-c"
https://github.com/linux-nvme/nvme-cli/blob/master/nvme-print.c#L188

https://github.com/linux-nvme/nvme-cli/blob/master/nvme.h#L47

128 bits long double is not fit in 64 bits double
https://github.com/json-c/json-c/blob/master/json_object.c#L1066

[2022-02-11 08:17] sc108-lee commented on #231
it should uploaded in nvme-cli , wrong upload so close

[2022-02-11 08:17] #231 closed

[2022-02-15 09:23] rwk-unil opened #240 "Installation fails"
Hello.

I am trying to install libnvme following the README. I get into this error
[code]

The contents of `subproject/openssl-1.1.1l` are as follow :
[code]

The build succeeded and unit tests pass
[code]

System information : Running on Ubuntu 21.04 with Linux kernel 5.13.0

Best Regards.
Rick

[2022-02-15 09:34] igaw commented on #240
Thanks for the report. There is something wrong with the subprojects. These are handy for development but I wouldn't recommend for normal installation (unless you know what you are doing). For such cases it's better to depend on the libraries provided by the distro. In your case you should install developer packages for json-c and OpenSSL.

We should update the README on this topic.

[2022-02-15 09:38] rwk-unil commented on #240
Thanks for the fast reply,
I installed the missing dependencies through my package manager
(`sudo apt install libjson-c-dev libssl-dev`)

The installation worked as intended.

Thanks

[2022-02-15 09:38] #240 closed

[2022-02-15 11:04] igaw commented on #240
Glad I could help. I'll see if I can reproduce your problem. But this has no high prio :)

[2022-02-16 21:31] martin-belanger opened #244 "__nvme_msg() is not checking for NULL before dereferencing pointer"
Function [__nvme_msg()](https://github.com/linux-nvme/libnvme/blob/master/src/nvme/log.c#L37) could be called with a NULL `r` parameter. In fact, we do test for NULL on the very first line of this function. However, we do not check for NULL in other places where we're dereferencing this pointer (see line 58, 67, 72, etc...).

I've seen it happen, which causes the application to coredump.

[2022-02-21 10:53] #244 closed

[2022-02-28 15:41] tbzatek opened #260 "endianity macros: ccan pulled in public nvme header files"
Commit fc8073a735da04944cdf5f976183f36bc6928244 made use of `le16_to_cpu()` from `<ccan/endian/endian.h>`:

https://github.com/linux-nvme/libnvme/blob/16abb4449f79ab842aa2b015ec22ee3375fac1dc/src/nvme/util.h#L551-L555

The ccan headers are obviously not installed as part of libnvme and this is the only use of ccan macros in public headers. The question which way to go is rather philosophical. Do o

[2022-02-28 16:00] martin-belanger commented on #260
That is a good question. In my initial commit I was using the standard `le16toh()` found in `/usr/include/endian.h`, but I was asked to use the definitions from ccan instead (e.g. `le16_to_cpu()`).

BTW, in an older version of libnvme, there were macros defining `le16_to_cpu()` et al. in `types.h`. Maybe we should go back to that approach instead of using ccan.

[2022-02-28 16:06] igaw commented on #260
IMO the simplest solution here would be not to provide the implementation in the header file instead move into the util.c file.

[2022-02-28 18:04] #260 closed

[2022-03-01 07:55] igaw opened #263 "wrong hostnqn uuid"
The dmi hostnqn uuid code seems broken. I got following downstream bug report:

[code]

and I can reproduce it locally.

[2022-03-01 08:09] igaw commented on #263
@martin-belanger

[2022-03-01 08:18] igaw commented on #263
Interesting, dmidecode might or might not swap the first bytes depending on the version of bios:

https://github.com/mirror/dmidecode/blob/024b0fb43ada238659c61f8d2e1f9ddeae603708/dmidecode.c#L440

[2022-03-01 08:30] igaw commented on #263
and it looks like the kernel already takes care of this. I think we don't have to do any swapping.

https://github.com/torvalds/linux/blob/719fce7539cd3e186598e2aed36325fe892150cf/drivers/firmware/dmi_scan.c#L174

[2022-03-01 08:52] igaw commented on #263
The Linux code is since 2012-12-20 in place f1d8e614d74b ("drivers/firmware/dmi_scan.c: check dmi version when get system uuid"). So I don't think we can safely rely on it that we get the right byte order.

[2022-03-01 11:39] martin-belanger commented on #263
The important thing is to get a unique, consistent, host NQN. Whether the bytes are swapped or not should not matter as long as we always get the same NQN for a given host. In fact, there is another way to do exactly that and it is to use the machine-id (`/etc/machine-id`).

Ref:
https://www.freedesktop.org/software/systemd/man/machine-id.html
http://0pointer.de/blog/projects/ids.html

[2022-03-01 12:34] igaw commented on #263
Some vendors provision their machine via the this way their setup. Thus it really matters that the UUID is the one which was provisioned in the firmware. We had the systemd's machine-id interface just recently removed because we could fall back using just the kernel. gen-hostnqn is a bit of a misnomer in this regard. 'get-hostnqn' would have been a better name. Well, it's probably too late.

[2022-03-01 13:51] #263 closed

[2022-03-01 20:02] glimchb opened #268 "libnvme openssl meson subproject compilation fails"
**This works fine:** ( using pre-installed packages and skips meson subprojects)
[code]
**This fails:**  ( uses meson subprojects instead of pre-installed packages)
[code]
**With this error:** (looks like installation stage)
[code]

I can't figure out what is missing during compile stage that fails during installation...

[2022-03-02 08:10] igaw commented on #268
Setting `install: false` seems to do the trick for me. The question here what should happen if `build_by_default: false` and `install: true` is set. I haven't found anything related to this in https://mesonbuild.com/Reference-manual_functions.html#executable I think we need to ask the meson project what's the right to do here.

[2022-03-02 08:22] glimchb commented on #268
I found this small hint https://github.com/mesonbuild/meson/blob/master/docs/yaml/functions/custom_target.yaml#L73
[code]

[2022-03-02 12:00] glimchb opened #271 "self: compare between `mesonpy` and `mesonpep517` python build backends"
learn more and compare:
- https://pypi.org/project/meson-python/
- https://pypi.org/project/mesonpep517/

[2022-03-02 16:10] igaw commented on #268
https://github.com/mesonbuild/meson/issues/4370

[2022-03-03 08:25] igaw commented on #268
There are two workarounds until we figure out how to fix it properly:
- either patch meson.build
- build the openssl binary and install it alongside
I think the second approach is better.

[2022-03-03 08:59] glimchb commented on #268
@igaw I also experimented with this commit to test this use case in CI https://github.com/glimchb/libnvme/commit/0cd38cb6b93be6b992b299b905e3684aa9aa7323

[2022-03-03 16:10] glimchb commented on #268
@igaw the fix is not working see
[code]
error
[code]

[2022-03-03 16:42] igaw commented on #268
I've tested it locally and it worked fine. Are you sure you have an updated version of libnvme?

[2022-03-03 16:46] glimchb commented on #268
sure, I built directly from github to be extra sure `docker build https://github.com/linux-nvme/libnvme.git#master`

[2022-03-03 18:23] igaw commented on #268
workaround: `meson .build && ninja -C .build && ninja -C .build openssl && meson install -C .build`

[2022-03-03 18:29] glimchb commented on #268
another workaround: `meson .build && ninja -C .build && meson install -C .build --skip-subprojects=openssl`

[2022-03-06 15:57] glimchb commented on #268
Should be fixed by https://github.com/mesonbuild/wrapdb/pull/297

[2022-03-08 07:45] #268 closed

[2022-03-08 07:54] glimchb opened #279 "meson test is not generating python module on fedora"
this works
[code]
this fails
[code]
Comparing the output:
[code]
vs
[code]
Looks like dependency is missing and python `extension_module` is not generated/called
Missing this line
[code]

[2022-03-08 10:09] #279 closed

[2022-03-11 16:42] igaw opened #285 "Should we drop 'attribute packed' in ioctl.h?"
We introduced `attribute packed` to make sure the layout is stable for all compilers (ABI). Though with just the attribute packed the compiler assumes the sizeof(struct foo) is 1, so there are other aligenment necessary. An array of such a type wouldn't have padding after the each object. So we added the attribute align(sizeof(biggest member)). While this fixes the other alignment, it introduces a

[2022-03-13 13:40] glimchb commented on #240
fixed via https://github.com/linux-nvme/libnvme/pull/277

[2022-03-13 13:57] glimchb opened #287 "Versioning : git tags, release, meson project version and library version"
### what is the right thing to do ?

let's say today we are at https://github.com/linux-nvme/libnvme/releases/tag/v1.0-rc6

today there are too many places to update:
- git tag and github release
- meson project version
- library version (taken from above)
- python package version

when uploading to pypi we can't override the same `1.0` again and again.
See https://test.pypi.org/help/#file-name-re

[2022-03-13 14:22] glimchb opened #288 "RPM: spec file is missing `BuildRequires:meson`"
see https://docs.fedoraproject.org/en-US/packaging-guidelines/Meson/

You **MUST** add following BuildRequires:
[code]

[2022-03-14 08:56] #288 closed

[2022-03-14 16:08] tbzatek opened #291 "[loop] Invalid subsystem records after scanning"
This is somewhat similar to #154 except this fails with just a single connection. We've been using the loop transport for simple setups in our CI and found this via segfaulting nvme-cli:

Steps to reproduce:
1. Setup a simple target using the loop transport: [target.json](https://github.com/linux-nvme/libnvme/files/8246505/target.txt)
2. `# nvme connect --transport=loop --hostnqn=test_hostnqn --nq

[2022-03-17 08:36] igaw commented on #287
Thanks for bringing this up. I am very reluctant to change anything on the name scheme for this release cycle. Any change now will likely cause more harm then it fixes. But sure, for the next iteration I am open for changes. I need to dive into the topic once more to understand what options are there.

One thing I had in mind (which is what systemd does/did?) is to increase the version number in t

[2022-03-17 08:37] igaw commented on #285
Anyone? If not I am going to remove the attributes.

[2022-03-18 08:25] igaw opened #295 "No trsvcid specified for 'rdma'"
[code]
@martin-gpy suggested:
[code]

[2022-03-18 13:58] #295 closed

[2022-03-21 17:02] tbzatek commented on #291
Alright, managed to find several issues, my unique hostnqn being part of the story, will post details tomorrow.

[2022-03-22 12:20] igaw opened #303 "python.platlibdir and python.install_env are mutually exclusive"
https://github.com/linux-nvme/libnvme/actions/runs/2021673441

[2022-03-22 15:29] tbzatek commented on #291
So the major source of discrepancy and the reason for duplicate records is a default hostnqn (fallback-generated) when scanning subsystems in `nvme_scan_subsystem()` as there's no `/sys/class/nvme-subsystem/nvme-subsys0/hostnqn` file. Previously scanned controllers from a first step in `nvme_scan_topology()` have the right hostnqn and are mismatched for that reason.

First look on the code doesn't

[2022-03-22 16:52] raecdapps opened #305 "nvme_chomp() does not remove trailing spaces"
From SUSE bug 1196889:
The SUT was reconfigured with a PURE target. NVMe autoconnect fails with the following error:
"nvme_fc: nvme_fc_parse_traddr: bad traddr string"

I looked at the libnvme-1.0-rc5 source code: src/nvme/fabrics.c. I looked at the arguments for the nvme_create_ctrl() call. I printed the contents of cfg->host_traddr and traddr.

printf("cfg host_traddr = ->%s<-\n",  cfg->host_tra

[2022-03-23 14:30] igaw commented on #305
I think the normal expected usage of such function is that the length argument obeys th C strings definition. Basically,
you should be able to do something like  `nvme_chomp(s, strlen(s))`.

Given this, calling `nvme_chomp(e->traddr, NVMF_TRADDR_SIZE)` is wrong because it the last char should be a `\0` char.

Let me review all call sides of `nvme_chomp()`

[2022-03-23 15:00] glimchb commented on #303
let me check

[2022-03-23 15:23] glimchb commented on #303
I noticed `python3.8` vs `Python/3.10.2` looking into that

[2022-03-23 15:39] glimchb commented on #303
@igaw i have 2 proposal fixes... testing them now

[2022-03-23 18:25] igaw commented on #303
Cool thanks. Personally, the first version looks better to my eyes because it depends on less special stuff (e.g. not using pipx (?)).

[2022-03-23 20:14] glimchb commented on #303
@igaw found it, the problem was with newly (2days ago) release [meson `0.62` version](https://github.com/mesonbuild/meson/releases/tag/0.62.0)

[2022-03-23 20:54] eli-schwartz commented on #303
But why are they both being specified?

[2022-03-23 21:12] glimchb commented on #303
@eli-schwartz bug in https://pypi.org/project/mesonpep517/
I opened #271 evaluate switch to https://pypi.org/project/meson-python/

[2022-03-23 21:16] eli-schwartz commented on #303
If you are so positive it's a bug in that project, maybe you could answer my question by describing the bug? :)

[2022-03-23 21:35] glimchb commented on #303
@eli-schwartz you are right, I didn't investigate that project and didn't see an error in the code
we can keep this issue open but merge the PR to allow CI to pass

[2022-03-24 12:13] #305 closed

[2022-03-28 15:34] martin-belanger opened #316 "Should kato be set by default when setting persistent?"
The function `nvme_ctrl_set_persistent()` sets the boolean `c->persistent` as follows:
[code]
From what I can tell, the boolean `c->persistent` is not really used for anything (at least from the perspective of configuring the kernel). Should we use `c->persistent` to set a default KATO value for persistent connections to discovery controllers?

For example:
[code]

[2022-03-28 17:22] igaw commented on #316
You mean we should move `set_discovery_kato` into libnvme?

[2022-03-28 17:28] martin-belanger commented on #316
Not exactly. I guess I don't see what `nvme_ctrl_set_persistent()` is used for. All this does is set a boolean, but this boolean is not used to change the way we configure the kernel. It's just an internal boolean that one can set or read. Maybe the `persistent` boolean should not even exist if it's not going to be used for anything useful.

[2022-03-28 17:39] igaw commented on #316
Yes, the whole decision if a controller is removed is completely in nvme-cli.

The only place I found some code around c->persistent is in json_update_attributes()
[code]
But that's all. So not really used. It looks like we could drop this bits from the library.

[2022-03-28 17:46] martin-belanger commented on #316
I will submit a patch that removes it then. Thanks for the feedback.

[2022-03-29 05:48] hreinecke commented on #316
Ehh ... the only thing the 'persistent' flag does is _not_ removing the discovery controller:
[code]
Which why it's 'persistent'. How would go about this without the persistent flag?

[2022-03-29 05:53] hreinecke commented on #316
Just for reference: the persistent discovery controller as described in the spec has no meaning to nvme-cli; we only have one controller type. And the KATO value is being set or modified by the 'keep-alive-tmo' setting, irrespective on whether it's a persistent or non-persistent controller.
From the nvme-cli side a persistent controller is a controller which is _not_ removed when the program exits

[2022-03-29 05:55] hreinecke commented on #316
Which also means we need this information in libnvme, as otherwise we cannot write it out in the json configuration, and that information would be lost.

[2022-03-29 08:09] igaw commented on #316
Okay, so libnvme doesn't need this information but nvme-cli. nvme-cli doesn't store this state information itself it relies on libnvme. Hmm, it really sounds like we have too much logic in nvme-cli...

[2022-03-29 10:42] martin-belanger commented on #316
Thanks for the explanation. I will close the pull request and this issue.

[2022-03-29 10:42] #316 closed

[2022-03-30 07:15] hreinecke commented on #291
Works with latest upstream; this is probably a fallout of the missing upstream commit 0e5e1e316d5c05c7227dafc8e3a0531a666f6ab7.

[2022-03-30 12:18] tbzatek commented on #291
Nope, still doesn't work with the git master. Let me rephrase the conditions:
1. no `/etc/nvme/hostnqn` file (on purpose)
2. hostqnq supplied to `nvme connect` differs from the default one generated by `nvmf_hostnqn_generate()`

In this case `nvme_scan_ctrl()` picks up the actual `/sys/class/nvme/nvme0/hostnqn` value properly, however `nvme_scan_subsystem()` would fall back to the default as there

[2022-03-30 12:29] hreinecke commented on #291
Gnaa. Of course there is no 'hostnqn' setting under nvme subsystem.

[2022-03-30 15:07] hreinecke commented on #291
Can you check PR #324 ? That should fix this issue (if I did everything correct, that is ...)

[2022-03-30 15:46] tbzatek commented on #291
Confirming, this fixes my issues, thanks!

[2022-03-31 07:40] hreinecke commented on #291
Fine. I've merged the (updated) PR now.

[2022-03-31 07:40] #291 closed

[2022-03-31 08:46] hreinecke opened #328 "ZNS user data vs I/O command set specific namespace data structure"
The code base has this:

[code]

but the ZNS spec says:

[code]

So how should we go about this? Avoid using 'userdata' as it's being obsoleted by the spec?
Keep the existing wording for compability? Add a duplicate / cloned value with the new name?

[2022-03-31 09:07] igaw commented on #328
I tend to say to replace it with the new name. I don't see nvme-cli using it. And we haven't released the library yet. After that I'd say we have to keep such things as around for backwards compatibility until the next major release.

[2022-03-31 11:19] #285 closed

[2022-04-05 09:24] igaw opened #334 "nvmf_add_ctrl always marks ctrl as disovered"
https://github.com/linux-nvme/libnvme/blob/20b6c2dd48335581fe2ff0cdef9f757fd81ad7ba/src/nvme/fabrics.c#L562

`nvmf_add_ctrl` always marks all controllers as discovered. Is this correct? What if the the ctrl passed in was not created via the discovery mechanisme? This looks suspicious.

[2022-04-08 15:55] igaw commented on #96
We had some good progress and updated a lot of the documentation. But it's not finished, though no release blocker. Let's move it to the next planned release.

[2022-04-08 16:12] igaw commented on #328
Well, I am going to do the 1.0 release now, so it's going to be duplicate/cloned value..

[2022-04-11 20:04] igaw commented on #271
We can't upload the binaries with mesonpep517, because we don't do the repair step. This leads to the situation that PyPi says `linux_x86_64` is not supported. The repair step would fix this up to `manylinux_`.

The repair step doesn't work because mesonpep517 is not packaging up libnvme.so only the Python c binding library is in the dist package. There is also no way to workaround in tricking mes

[2022-04-12 07:44] glimchb commented on #303
fixed by https://github.com/mesonbuild/meson/issues/10181 @igaw you can close

[2022-04-12 07:46] glimchb commented on #271
thanks @igaw  indeed a lot o work you put into this and I put originally about the same amount of time
I don't object to your decision to remove PyPi integration attempt for now
We can re-introduce it once we figure out how to do it properly

[2022-04-12 08:20] igaw commented on #271
So the only thing I am still pondering around, if uploading just the sdist would actually make sense nonetheless. I am sure we are not the only one in this situation. Are there any projects which just upload the Python binding?

[2022-04-12 08:22] glimchb commented on #271
yes, I know many project just upload sdist without `wheels`
This means it will be built during `pip install`
`wheels` is just an optimization

[2022-04-12 09:30] igaw commented on #271
FWIW, I've uploaded the binding to PyPi manually (yeah, I know, sneaky thing...) but I wanted to get the project name claimed on PyPi before someone else is getting it. So the next release should work through the normal CI means.

[2022-04-12 09:30] glimchb commented on #271
just FYI,
I was struggling last time with wheels as well, that's why I left `CIBW_REPAIR_WHEEL_COMMAND_LINUX` explicitly empty
I was hoping that using `LD_LIBRARY_PATH` to pint to `libnvme.so` location in `CIBW_REPAIR_WHEEL_COMMAND_LINUX` we can make wheels to work

just documenting here for later... once we come back to this problem...

[2022-04-12 09:31] glimchb commented on #271
Yay. looks good ! https://pypi.org/project/libnvme/

[2022-04-12 14:28] glimchb commented on #271
just for documentation this looks ok
[code]

[2022-04-12 15:08] igaw commented on #271
Hmm, I see 'wheel'. Do we need to keep the wheel requeriment in pyproject.toml?

[2022-04-12 15:55] glimchb commented on #271
non-no-no, this is excellent. Exactly as expected.
`wheel` is always built on the machine during the `pip install` phase.
If we upload `wheels` to pypi, then during installation they are just downloaded instead of build in place...

[2022-04-13 03:21] eli-schwartz commented on #271
https://github.com/util-linux/util-linux/pull/1654

[2022-04-13 06:21] igaw commented on #271
@eli-schwartz wow! Thanks for helping out. It was on my TODO list and even started with it but got nowhere...

[2022-04-13 09:44] igaw commented on #303
Okay, so we just have to wait for the next release of meson to drop the version requirement in pyproject.toml.

[2022-04-13 09:44] #303 closed

[2022-04-13 10:58] eli-schwartz commented on #271
It is now merged upstream, please give it a try.

[2022-04-13 13:16] glimchb commented on #271
something like this https://github.com/linux-nvme/libnvme/pull/349 ? not sure...

[2022-04-16 12:33] subnut opened #355 "`SCOPE_DELIMITER` not defined in musl"
[code]

glibc just defines it as so -
[code]

But there is no such definition in musl libc.
Alpine Linux uses this patch -

https://git.alpinelinux.org/aports/tree/community/libnvme/scope-delimiter.patch
[code]

[2022-04-21 08:25] igaw commented on #355
I think we got this covered by https://github.com/linux-nvme/libnvme/commit/10f9bbd60cc4039cab7063465e3c0db0af598640 already. Or did we miss another one?

[2022-04-21 13:32] subnut commented on #355
Sorry, I'd forgotten that I had `v1.0` checked out instead of `master`

[2022-04-21 13:32] #355 closed

[2022-04-21 15:24] igaw commented on #355
No worries. Thanks for double checking!

[2022-06-02 09:15] igaw opened #364 "Is nvme_subsystem_lookup_namespace doing the right thing?"
`nvme_subsystem_lookup_namespace()`

[code]

[code]

I wanted to lookup nsid=17 but this obviously `/dev/nvme-subsys1n17` doesn't exit. Is this function really
doing what's supposed to do?

[2022-06-02 09:17] igaw commented on #364
@hreinecke

[2022-06-02 09:31] hreinecke commented on #364
Hmm. The name is obviously wrong; it should've been /dev/nvme<subsys-id>n<nsid>.

[2022-06-03 12:13] sc108-lee opened #369 "Command stuck without any return when device not returning command result"
Currently I don't have any environment that reproduce this.
When I am able to reproduce this, will do more analysis

1. Device stop (no return)
2. nvme show-regs ( skip nvme_get_property )
3. blocking "nvme_scan" ( it's issuing identify command internally)

it was blocking "nvme_scan" not nvme_get_property.
I just remembered, I blocked nvme_get_property block to not issue command when that problem

[2022-06-08 06:01] jk-ozlabs opened #373 "Can we expand the scope of nvme_*_args structures?"
I'm currently working on expanding the NVMe-MI code to provide more Admin command functionality, and would like to keep the API as consistent as possible with the base admin functionality.

The current code has a few `_args` structs, like from `src/nvme/ioctl.h`:

[code]

which is used in:

[code]

I would like the MI admin functions to re-use this struct, creating something like:

[code]

However

[2022-06-09 12:27] igaw commented on #373
I'd prefer the first idea, because we don't have to maintain two places of `_args` structs. I think it's fair game to move the definitions around as long a  `#include <libnvme.h>` is enough.

[2022-06-10 07:41] hreinecke commented on #364
It's even worse. Looks as if we would never clear up the list of namespaces, only ever adding to it.
We really need to have a look at that.

[2022-06-13 09:38] igaw opened #377 "libnvme-mi build failures"
[code]

[2022-06-13 09:38] igaw commented on #377
FYI @jk-ozlabs

[2022-06-13 09:41] igaw commented on #377
The obvious fix is:

[code]

[2022-06-13 10:48] igaw commented on #377
I suppose it should be address by adding it to `dependencies`.

[2022-06-13 11:08] #377 closed

[2022-06-13 12:33] jk-ozlabs commented on #377
No, we shouldn't need libnvme for libnvme-mi; the only shared components are the headers (hence some of the earlier questions about creating the `root_t`, and whether we have a mi-specific one).

Glad that this has been fixed, but I didn't see those errors when compiling here; is there some build configuration specific to this issue?

[2022-06-13 12:33] #364 closed

[2022-06-13 12:37] igaw commented on #377
The problem appeared when linking nvme-cli against libnvme using subprojects.

[2022-06-13 12:57] igaw commented on #377
I did expect some fallouts, so no worries. Usually we would see this build errors as soon we update libnvme.wrap in nvme-cli. But this time I was faster :)

[2022-06-16 09:31] smice-ICE opened #385 "how to use libnvme python binds to interaction with nvme device, should i use ioctl to send commands?"

[2022-06-16 10:49] martin-belanger commented on #385
Have you checked: https://github.com/linux-nvme/libnvme/tree/master/libnvme

[2022-06-16 13:11] martin-belanger commented on #385
ioctl is considered a low-level API. The Python bindings only provide high-level APIs such as `connect`, `disconnect`, `discover`. etc. If you need access to other commands, you may need to provide them yourself by submitting a pull-request.

I would not recommend exposing ioctl directly, but rather provide a high-level command. This can be done in https://github.com/linux-nvme/libnvme/blob/master

[2022-06-17 01:33] #385 closed

[2022-06-20 12:38] igaw commented on #210
Fixed by #389

[2022-06-20 12:38] #210 closed

[2022-06-21 07:12] igaw opened #393 "Test Coverage Report is wrong"
I see we have about 40% coverage in `src/nvme/mi.c`:

[code]

but the codecov reports are showing 0% for `mi.c`:

https://app.codecov.io/gh/linux-nvme/libnvme/compare/392/tree/src/nvme

Any ideas?

_Originally posted by @jk-ozlabs in https://github.com/linux-nvme/libnvme/issues/392#issuecomment-1161334274_

[2022-06-21 07:13] igaw commented on #393
@glimchb

[2022-06-21 11:23] glimchb commented on #393
will take a look

[2022-06-21 12:29] jk-ozlabs commented on #393
It's entirely possible I'm doing something odd with the `mi` test; let me know if you need me to check anything out.

[2022-06-21 14:35] glimchb commented on #393
when using
[code]
locally, I also don't see coverage in local report with `lcov` here
[code]
shows 0%

[2022-06-21 14:46] MoshiBin opened #394 "Missing checks for required libraries when building uuid"
Meson is able to setup the build env without `libncurses-dev`, `zlib1g-dev` installed, but when trying to build it will emit errors and warnings such as:

[code]

and

[code]

[2022-06-21 14:49] igaw commented on #393
I get

`src/nvme/mi.c                                262     107    40% `

but I had to install gcovr first.

[2022-06-21 15:00] glimchb commented on #393
could be related to versions running in azure's ubuntu...
trying here https://github.com/linux-nvme/libnvme/pull/395

[2022-06-21 15:01] igaw commented on #393
I installed lcov and removed gcovr from system and it looks like mi.c is missing the report

[2022-06-21 15:03] glimchb commented on #393
@igaw please approve #395 let's see how things with new ubuntu

[2022-06-21 15:07] glimchb commented on #393
same @MoshiBin
[code]
https://github.com/linux-nvme/libnvme/runs/6987377286?check_suite_focus=true

[2022-06-21 15:23] glimchb commented on #393
we can try using this in the BSFishy/meson-build
[code]

[2022-06-21 15:37] igaw commented on #393
Ah, I see. I mixed gcov and gcovr up. It might be worth to try latest greates gcovr in this case.

Anyway, the no data case seems only to happen for the mi.c file.

[code]

[2022-06-21 15:48] igaw commented on #393
not sure if we chasing a ghost:

[code]

[2022-06-21 19:54] glimchb commented on #393
I have the same error as https://github.com/mesonbuild/meson/issues/9844 when I'm running locally...

BU the question is how it works for your local environment @igaw ?
you tried with both gcov and lcov...

[2022-06-21 19:55] igaw commented on #393
It looks like lcov can't handle the `..` correctly. When moving the test to the sources, it looks like all works fine:

[code]

[code]
![image](https://user-images.githubusercontent.com/1050803/174886354-e8318f3a-0db9-43e4-91b8-33d229baafa9.png)

[2022-06-21 19:58] igaw commented on #393
I did also the 'grep' thing which is testing the results from gcovr. But the upload seems to be based on the lcov output.

[2022-06-22 07:51] #393 closed

[2022-06-22 07:53] igaw commented on #394
This looks like the subproject configuration for uuid needs to be updated. libnvme is just the consumer. So this bug report is for https://github.com/mesonbuild/wrapdb

[2022-06-22 12:00] glimchb commented on #393
@igaw great job investigating and fixing! wow

[2022-06-23 08:22] igaw opened #401 "Figure out if readthedocs could run the `.rst.in` to `.rst` step."
Maybe it is possible to trick readthedocs to run the `.rst.in` to `.rst` step. Then we could drop these files from the source tree.

_Originally posted by @igaw in https://github.com/linux-nvme/libnvme/issues/399#issuecomment-1164105438_

[2022-06-23 19:41] glimchb opened #404 "Segmentation fault when running from nvme-stas"
[code]

[2022-06-24 05:42] igaw commented on #404
Where in nvmf_add_ctrl() do we crash?

[2022-06-24 12:02] martin-belanger commented on #404
Hi @igaw - I was experimenting with threads in nvme-stas. I think that's where the issue really is and not in libnvme. Please disregard.

[2022-06-24 12:11] glimchb commented on #404
I'm not sure - should libnvme be thread safe or not?

[2022-06-24 12:30] igaw commented on #404
libnvme should be thread safe in the sence of only stack variables or in the context handed in). BUT it operates on finite numbers of resources which is not thread safe.

[2022-06-28 14:14] lignumqt opened #408 "Can't build rpm package"
I'm trying to build an rpm package, but I'm getting an error, what am I doing wrong?
also I would like to know can i build deb package instead rpm?

I run: `make rpm`

Installing subprojects/json-c-0.15/libjson-c.so to /root/libnvme/.build/meson-private/dist-install/usr/lib/x86_64-linux-gnu
Installing subprojects/openssl-1.1.1l/libcrypto.so to /root/libnvme/.build/meson-private/dist-install/usr/li

[2022-06-30 06:26] igaw commented on #408
I agree with Martin. The rpm target is there to ease the developer workflow. I don't want to invest time myself to figure out how to get it working. IIRC @sc108-lee is using this. Maybe he has an idea what's going on.

[2022-07-01 10:43] lignumqt opened #411 "undefined reference to `le16_to_cpu'"
I built and installed from source based on the v1.0 branch (I ran `make && make install` ). took a function for tests from the source files, and tried to minimally compile it, for which I received an error. I found where this function is declared, in the file endian.h, I tried to copy it to /usr/include/nvme. and tried to include it to my source file, to which I got an error that the included file

[2022-07-01 11:49] igaw commented on #411
`le16_to_cpu` is from the ccan library (http://ccodearchive.net/).

The libnvme header files don't have any dependency on ccan. So the dependency on `le16_to_cpu` is from the nvme_test.c file. In this case you should setup ccan for your project, in order to be able to use the function (check 'Use The Code' section on the ccan website).

[2022-07-01 11:49] #411 closed

[2022-07-01 17:57] tkenbo opened #412 "Persistent Event Log - Invalid Field Error"
Hello, I'm trying to understand if this is an issue or intended.  Hope anybody could enlighten me.

`[root@xxxxxxxx ~]#nvme persistent-event-log /dev/nvme1 -a 0`
`NVMe status: INVALID_FIELD: A reserved coded value or an unsupported value in a defined field(0x2002)`

I traced the command and here is the trace log for the failed command.
` <...>-552510 [031] .... 172168.299315: nvme_setup_cmd: nvme1

[2022-07-04 05:38] sc108-lee commented on #408
@igaw Thanks for pinging me.
I just made some changes to enable it.
check it out PR #414 :)

[2022-07-04 09:42] lignumqt commented on #408
i get another error:

warning: bogus date in %changelog: Fri Jul 04 2022 Steven Seungcheol Lee <sc108.lee@samsung.com>
error: Failed build dependencies:
	gcc is needed by libnvme-1.0-0.x86_64
	libuuid-devel is needed by libnvme-1.0-0.x86_64
Makefile:43: recipe for target 'rpm' failed
make: *** [rpm] Error 1

but in build log I see

I forgot to say that I'm trying to build it on ubuntu

[2022-07-04 15:23] igaw commented on #412
Good catch, the expression `(args->len >> 2) - 1` is not correct for all values of `len`.

From the spec:
[code]

I suppose we need to do

[code]

[2022-07-06 08:33] lignumqt commented on #408
I still get an error

Installing /root/libnvme/src/libnvme.h to /root/rpmbuild/BUILDROOT/libnvme-1.0-0.x86_64/usr/include
Installing /root/libnvme/src/libnvme-mi.h to /root/rpmbuild/BUILDROOT/libnvme-1.0-0.x86_64/usr/include
Installing /root/libnvme/src/nvme/api-types.h to /root/rpmbuild/BUILDROOT/libnvme-1.0-0.x86_64/usr/include/nvme
Installing /root/libnvme/src/nvme/fabrics.h to /root/rpmbuild/B

[2022-07-06 08:43] igaw opened #417 "Return codes used in libnvme-mi"
So this is a good point, and does highlight one difference in the MI interface: we may have failures that are due to the transport itself, rather than the command.

Because of that, the API so far has (as yet unwritten) semantics for the error return values:

- 0 for success
- negative return value (negative errno if possible) for transport-reported failures
- positive return value (always the MI

[2022-07-06 10:01] igaw commented on #417
For libnvme we decided to go with the convention from glibc, e.g.

[code]

I think this is well understood practice and there aren't any nasty surprises. So I would prefer if libnvme-mi could do the same.

[2022-07-06 10:03] igaw commented on #408
@sc108-lee according the tool, your changelog entry has a bogus date :)

[2022-07-06 10:28] jk-ozlabs commented on #417
Oh, super - that sounds just like #1, but instead of `enum nvme_status_field` we would use the status values from the MI spec (section 4.1.2, response values table in Figure 27).

I could add an enum for those MI status values, and then document accordingly. Would that work?

[2022-07-06 10:58] igaw commented on #417
The `enum nvme_status_field` was just there from my copy&paste, so pure accidentally.  But yes it makes sense to add a new enum for this.

[2022-07-07 05:32] sc108-lee commented on #408
@igaw Thanks for checking !, I forgot to change Day of the week when I modify date.
I just pushed with force with that fix(and symbolic link installation)

But as I mentioned above, if there is no /root/rpmbuild/BUILDROOT/libnvme-1.0-0.x86_64/usr/lib64/libnvme.so.*
That means meson build install failure.

plz check the symlink installing part like below
[1425/1425] Generating doc/nvme_version_man

[2022-07-07 05:41] jk-ozlabs commented on #417
Oh, turns out I already added this for More Processing Required support:

[code]

So, I will:

 * audit the current functions to ensure the return values are consistent with this approach
 * set `errno` when we have an internal error; and
 * document these conventions in the kernel-doc comments

Feel free to assign the bug to me, I'll reference in any PRs.

[2022-07-07 09:13] igaw commented on #408
The logs say meson installs it to `/root/rpmbuild/BUILDROOT/libnvme-1.0-0.x86_64/usr/lib64`. This looks all okay. And on my system this works. Which version of meson are you using? I am using `0.62.2`.

[2022-07-07 09:16] #417 closed

[2022-07-07 09:44] igaw commented on #328
FWIW, in libnvme-me @jk-ozlabs came up with a nice  solution: Fix the enums and use a define to introduce the compatibility indirection. The nice thing about this is, that we clearly document what is new and what is deprecated. When we are going to do a major update we just going to delete the defines.

[2022-07-07 09:46] igaw commented on #96
So we have now most of the things documented and fixed all kernel-doc compile warnings. Next step is to run the speller over all header files.

[2022-07-07 09:49] igaw commented on #287
BTW, the git version is now added to the 'nvme --version' output.

[code]

- 1f54f1536bbd ("nvme: Add git ref to the binary")
- 1fde82bbd3c0 ("nvme: output also libnvme version")

[2022-07-07 12:23] igaw commented on #287
Ideally we can reduce the number of 'sources' a bit now. IIRC, it's possible to use the meson.project_version() everywhere inside the tree. That means only one place to set the version to '1.1' for example. The git tag is obviously outside of the meson world. Maybe we could just have a small release script which updates the version number, sets the tag correctly and uploads the result to github. I

[2022-07-08 12:12] #96 closed

[2022-07-12 07:52] igaw commented on #408
So also fairly new and unlikely to be a problem. No idea why the install step is not coping the artifacts to the right location.

[2022-07-12 09:19] #287 closed

[2022-07-12 09:42] igaw commented on #328
I haven't found the corresponding entries my copy of the spec. Is this in some unreleased TPs?

[2022-07-12 09:44] #334 closed

[2022-07-12 12:44] igaw commented on #412
I think we should just ignore the `Total Log Length` range `[0..3)` (in bytes)

[code]

[2022-07-12 13:46] martin-gpy opened #426 "Config JSON file fails to apply dhchap_key at subsystem/port level"
Turns out specifying dhchap_key in the config JSON file works only if specified at the host level in the config JSON file, and not at the corresponding port level.

For e.g. this works:

[code]

But this fails:

[code]

[2022-07-13 04:25] sc108-lee commented on #408
@igaw nope, you might see my logs to explain to him.
@lignumqt
your install directoy is different
/root/libnvme/.build/meson-private/dist-install/usr/lib/x86_64-linux-gnu/libnvme.so.1

/usr/lib/x86_64-linux-gnu/libnvme.so.1
your meson installing you pkgs on there, but rpmbuild manager finding it from /usr/lib64

if you are want to use install directory as yours.
you need to modify yourself of rpm

[2022-07-13 07:34] lignumqt commented on #408
@sc108-lee yes! it has worked for me. I was able to build the rpm package. Thanks !

[2022-07-13 07:38] lignumqt commented on #408
this patch will be in branch v1.0 ?

[2022-07-13 08:37] sc108-lee commented on #408
@lignumqt nope, that is tag which has been released already.
so It would be on next version of it.

[2022-07-14 15:05] igaw opened #429 "pypi workflow should not upload release candidates"
The current workflow rule

[code]

uploads release candidates and marks them as normal release. E.g. v1.1-rc0 was uploaded as v1.1.

@glimchb

[2022-07-15 10:57] ismaell opened #430 "Fix building against LibreSSL 3.x"
As of LibreSSL 3.5.3, it doesn't provide `<openssl/core_names.h>`. Build error:

    samu: job failed: ccache cc -Isrc/libnvme.so.1.0.0.p -Isrc -I../src -I. -I.. -Iccan -I../ccan -Iinternal -I../internal -I/usr/include/uuid -I/usr/include/json-c -fdiagnostics-color=always -D_FILE_OFFSET_BITS=64 -Wall -Winvalid-pch -std=gnu99 -Os -g -fomit-frame-pointer -D_GNU_SOURCE -include internal/config.h -mar

[2022-07-15 11:54] martin-belanger opened #431 "Allow disconnect of incomplete connections"
While running a stress test on Ubuntu 20.04 (kernel 5.8) where I quickly connect/disconnect to controllers while at the same time adding/removing a nvmet target, I occasionally get a partial connection where the subsystem is missing. In other words, the kernel creates a device node (e.g. /dev/nvme7), but it does not create the subsystem under the sysfs (e.g. /sys/class/nvme-subsystem/nvme-subsys0/

[2022-07-16 13:04] glimchb commented on #429
@igaw

https://pythonpackaging.info/07-Package-Release.html

why https://github.com/linux-nvme/libnvme/commit/6c5aedd78690b042250f3dc82b48b7302ea91dbd doesn't have RC in the version name ?

[2022-07-18 11:21] igaw commented on #430
LibreSSL announces itself as OpenSSL 3.x. Hence meson will set the
CONFIG_OPENSSL_3 define.

[code]

When I define CONFIG_OPENSSL_1 instead of CONFIG_OPENSSL_3, the build is successful.

Obviously, the meson file is written with OpenSSL in mind. The only way I see is to have
a configure flag added where you can force which version of the API is used. Or is it possible to detect that we are actuall

[2022-07-18 11:31] igaw commented on #431
So something like this:
[code]

[2022-07-18 11:54] igaw commented on #429
https://semver.org/#spec-item-9

[2022-07-18 11:57] igaw commented on #429
So at least we need this here
[code]

[2022-07-18 13:20] glimchb commented on #429
you can consider updating `library_version` also from the `release.sh` or parse regex in the `meson.build` like suggested in the example above... not sure what is better

[2022-07-18 15:13] ismaell commented on #430
LibreSSL provides `LIBRESSL_VERSION_NUMBER` in `openssl/opensslv.h`.

[2022-07-18 15:25] igaw commented on #430
I don't see how we can express this via meson's `dependency()`

I suppose it's possible to use  `cc.compiles` to figure out LIBRESSL_VERSION_NUMBER is present and have this incorporated into the current set logic.

[2022-07-18 16:31] ismaell commented on #430
I've decided to go with just checking for the header in case libressl implements it at some point.

[2022-07-19 06:09] martin-gpy commented on #426
Turns out the dhchap key fails to apply at the subsystem level too. For e.g, this too fails:

[code]

[2022-07-19 06:13] martin-gpy commented on #426
The current JSON config schema at https://github.com/linux-nvme/libnvme/blob/master/doc/config-schema.json clearly illustrates that the dhchap keys should be applicable at a port level too, but currently this is not possible as stated above.

Coming to the use case for this requirement - one should have the flexibility to specify different dhchap keys for different subsystems/ports. With the above

[2022-07-19 15:16] #412 closed

[2022-07-20 03:16] jk-ozlabs opened #437 "`nvme_get_nsid_log` ignores `rae` parameter, other log helpers don't."
The `nvme_get_nsid_log()` helper has a `rae` (Retain Asynchronous Events) parameter, but we currently ignore this when constructing the Get Log Page command arguments:

https://github.com/linux-nvme/libnvme/blob/11337761f72958be024a1d13b3d617f9b711b4ef/src/nvme/ioctl.h#L1229-L1249

Although the fix is fairly trivial (`.rae = rae`), there may be some consequences where API users are currently passi

[2022-07-20 07:58] martin-gpy opened #438 "Config JSON file fails to apply dhchap_ctrl_key"
Observing that the config JSON file fails to apply the dhchap_ctrl_key.

For e.g. running nvme connect-all on the below config.json file succeeds while applying the host dhchap_key, but not the controller dhchap_ctrl_key:

[code]

[code]

[2022-07-20 12:35] igaw commented on #437
Here is a list for all nvme-cli users of the helpers which set `rae=true`.

- nvme_get_log_supported_log_pages

- nvme_get_log_error
  nvme.c: err = nvme_get_log_error(fd, cfg.log_entries, true, err_log);

- nvme_get_log_smart
  plugins/innogrit/innogrit-nvme.c:       nvme_get_log_smart(fd, cfg.namespace_id, true, &smart_log);
  plugins/seagate/seagate-nvme.c: err = nvme_get_log_smart(fd, 0xffffff

[2022-07-20 12:38] igaw commented on #437
And yes, I think we should fix this. The good thing is that any binary already build with the `rae=false` in the inline will not change it's behavior, when we change it to `rae=rae`. So any newly build against the fixed header will need to be fixed accordingly.

So this means we should review the nvme-cli now and figure out if we need to change to `rae=false` in specific cases.

[2022-07-21 05:12] jk-ozlabs commented on #437
Yep, sounds good. My issue with doing that is that the spec doesn't seem very clear on which log pages the `rae` field actually applies to. Unless I'm missing something, there seem to be various suggestions in the spec, but nothing definitive.

Is there someone who could help with interpreting those parts of the spec?

[2022-07-21 15:04] igaw commented on #437
The section `5.2 Asynchronous Event Request command`is talking about `rae`.

I think these callers should be changed to `rae=false` if I read the spec correct.
- nvme_get_log_error
- nvme_get_log_smart

Found nothing about rae for these here:
- nvme_get_log_fw_slot
- nvme_get_log_reservation
- nvme_get_log_sanitize

To be on the safe side we could just set them all to false... If no one speaks up

[2022-07-22 12:06] #431 closed

[2022-07-22 19:46] ismaell commented on #430
Solved by commit 8a7cf44be48066ca2a52de5ca9562931963ef651.

[2022-07-22 19:46] #430 closed

[2022-07-23 16:50] moradicomputer opened #444 "ZNS Read BUG"
I tested some ZNS SSD functions on the QEMU emulator.
When I used "nvme_ns_read" for reading a specific address (that data was appended to that), this error was demonstrated
"nvme0n1: I/O Cmd(0x2) @ LBA 2305843009213693951, 0 blocks, I/O Error (sct 0x0 / sc 0x2) DNR".
but with nvme-cli ("nvme read"), I can read my data without any problem. It seems that there is a bug here.

[2022-07-23 18:40] igaw commented on #444
Which version of nvme-cli do you use?

[2022-07-24 05:12] moradicomputer commented on #444
I used nvme-cli 1.16

[2022-07-25 16:57] #437 closed

[2022-07-26 13:08] igaw opened #447 "Make struct nvme_fabrics_config extendable"
We forgot to add the size_args member to nvme_fabrics_config which makes it really hard to extend.

See #446

[2022-07-26 13:20] igaw opened #448 "Add endpoint data structure for nvme API"
The MI API uses the endpoint data struct to abstracts from implementation details. Introduce an similiar API for the nvme interface. The goal here is to decouple from the low level API and be able to mock certain APIs for testing.

[2022-07-26 13:29] igaw commented on #426
The first example is not correct according the config-schema.json but works and the second one is correct according the schema but fails.

[2022-07-26 16:25] hreinecke commented on #426
Ah. Well. Yes. Probably a bit too much future design wishing happening here.
The original idea indeed was to have the entries applicable to several levels, with lower levels overwriting values passed in from the upper levels (some sort of poor mans object inheritance).
But of course, I never got around to actually implement that.
So for now I'd vouch for updating the json schema to reflect what's

[2022-07-29 06:09] hreinecke commented on #426
Ah, no, it's even simpler.

The json schema declares:
[code]
but the json parser just checks for 'dhchap_key', and uses _that_ for the controller key.
So the 'dhchap_ctrl_key' setting is never applied.

[2022-07-29 09:58] martin-gpy commented on #438
https://github.com/linux-nvme/libnvme/pull/450 seems to have addressed this problem.

With these changes, I see dhchap_ctrl_key properly applied now:

[code]

[code]

[2022-08-01 12:11] #438 closed

[2022-08-01 12:53] #429 closed

[2022-08-01 17:26] martin-gpy commented on #426
It is actually https://github.com/linux-nvme/libnvme/issues/438 that is fixed with the above https://github.com/linux-nvme/libnvme/pull/450/commits/51eac082acecc3d418d081047f4aedbff2762838, and not this current issue.

So could you please reopen this?

[2022-08-02 01:34] 3735943886 opened #452 "compile error"
[code]

Seems like that there are no definition of LINE_MAX in source files.
How should I fix it?
Thanks in advance.

[2022-08-02 07:57] igaw commented on #426
I do not follow. #438 and #450 are merged.

I haven't merged #451 as it needs a little bit more work. Is this the PR you are referring to?

[2022-08-02 08:10] igaw commented on #452
It looks like your libc is not providing not all  `POSIX.2` defines. `LINE_MAX` is supposed to be defined in `unistd.h` which `util.c `actually includes. It's also a bit worrisome that the `ENDIAN` macros are redefined...

Anyway, the `LINE_MAX` value is 2048 on my system. Does this here solve your problem:

[code]

Not particular a big fan of it but well it's not too bad either.

[2022-08-02 08:15] martin-gpy commented on #426
Let me clarify - https://github.com/linux-nvme/libnvme/issues/438 is addressed with https://github.com/linux-nvme/libnvme/pull/450. So that can be marked as closed (which you already did). So no concerns there.

But this current issue (i.e. https://github.com/linux-nvme/libnvme/issues/426) is still valid. I guess we need #451 to completely address this. So requesting you to reopen this.

[2022-08-02 08:17] igaw commented on #426
Sure, this issue got closed by github because #450 has the 'Fixes' in the description. Let's reopen this isuse and link it #451.

[2022-08-02 21:47] 3735943886 commented on #452
Thank you for prompt answer.
I compiled it under android OS and there might be some differences of libraries from pure linux system.
Anyway your suggestion solved my problem and it works flawlessly now. (Redefinition warnings are still noted but it doesn't make any problem atm)
I hope you could please add this modification to project for maximal compatibilities. (Or letting meson script check LINE

[2022-08-02 21:48] #452 closed

[2022-08-03 11:54] igaw commented on #452
Android OS, I didn't think about that this. Indeed Android ships with boinic, which is not providing the complete POSIX APIs. If this was the only problem you run into, I think we just add the `define` with a comment.

[2022-08-10 10:09] martin-gpy opened #454 "Incorrect check for discovery controllers"
With TP 8013 - Unique Discovery Controller ID implemented, one can no longer identify a discovery controller by simply checking whether its subsystem NQN matches the well-known discovery NQN. But looks like there are still multiple places in the libnvme code where this check is done. For e.g.

[code]
[code]
[code]

[2022-08-10 10:15] martin-gpy commented on #454
Ideally, one should be checking the subsystype instead (and not the NQN) to identify whether it is a discovery subsystem or not i.e. a subsystype which is not NVME_NQN_NVME (either NVME_NQN_CURR or NVME_NQN_DISC) should qualify as a discovery subsystem.

[2022-08-10 11:41] martin-belanger commented on #454
Hi @martin-gpy - I did the same investigation a while back and came to these conclusions:

For the first example (`fabrics.c`), this is simply to maintain backwards compatibility with code that is still using the well-known NQN and not explicitly setting the parameter `discovery_ctrl` using the new API `nvme_ctrl_set_discovery_ctrl()`. As you said, TP8013 introduces unique NQNs for DCs. Libnvme us

[2022-08-10 14:58] martin-gpy commented on #454
Fair enough. My only point was that we perhaps are better off having a generic check that works with both TP-8013/8014 changes, while at the same time being backward compatible with legacy cases too.

For e.g. by checking if the subsystype is not 0x02 (i.e. NVME_NQN_NVME), then we should be able to safely conclude that it is a discovery subsystem itself. And that would work with both TP-8013/8014

[2022-08-11 14:41] igaw commented on #454
The comment indicates that the idea to filter out well known discovery controller is correct. But I am a bit lost here too.

[2022-08-13 03:47] jk-ozlabs commented on #448
It would be great if we can use a common struct between the direct and MI interfaces - this means we could avoid duplicating the API for each transport.

I'm happy to propose something for this, if you like.

[2022-08-13 03:56] jk-ozlabs opened #456 "Improve error reporting in API for MI transport"
We currently have a few different sources of potential errors when performing Admin commands over the MI transport:

 - Syscall API failures when interacting with the transport. eg., `sendmsg()` failure when sending a MCTP message
 - Protocol errors detected by the transport implementation: eg., CRC mismatch
 - MI-layer failures: indicated through a MI-specific status byte in response messages eg.

[2022-08-13 03:57] jk-ozlabs commented on #456
I can't edit issue metadata, but please feel free to assign to me, tag as 'enhancement', and a future milestone (2.0 perhaps?)

[2022-08-16 06:30] igaw commented on #448
Sorry, for the late response. Public holiday :)

Let me have a look at it now. IIRC this work was depending on other work? Anyway, I'l review it now

[2022-08-16 07:24] jk-ozlabs commented on #448
Yes, this would be a fairly big change - it would alter the arguments for almost every function. Definitely something for a ABI-breaking milestone.

I'll put together some sketches for this.

[2022-08-17 06:56] igaw opened #459 "Merge/cleanup struct extensions"
Several data structures have been extend to address either API issues or add new features, e.g.

9350e73e302a ("libnvme: 64-bit Reference Tags and TP-4068 changes")

Merge these change into a base version.

[2022-08-25 08:50] hreinecke commented on #454
That is by design; a discovery controller can be indicated by either the discovery subsystem name or by the discovery controller attribute. So here we're ensuring that a discovery controller always has the correct type (as the type is not available on older implementations).

'legacy' discovery subsystems all have the same subsystem name, so we cannot list them in the config output as we are relyi

[2022-08-25 08:50] hreinecke commented on #454
Can we close this?

[2022-08-25 15:09] igaw opened #462 "Make dhchap_*_key name consistent"
https://github.com/linux-nvme/libnvme/pull/461#discussion_r954900649

[2022-08-25 15:10] #426 closed

[2022-09-07 22:30] drakedog2008 opened #466 "C++ Compiler Error on libnvme-mi"
The C++ compiler doesn't fully compatible with C99 standard. So it gave the errors:

1.
[code]
2.
[code]

[2022-09-07 22:47] jk-ozlabs commented on #466
@drakedog2008 thanks for the report, I'll take a look.

[2022-09-08 12:16] igaw opened #467 "Compile warning in mi-mctp.c"
[code]

[code]

[2022-09-09 01:02] jk-ozlabs commented on #467
Will take a look and get a fix done - feel free to assign to me.

[2022-09-09 10:03] jk-ozlabs commented on #467
Looks like this requires specific CFLAGS to reproduce:

[code]

However, unlike https://github.com/linux-nvme/nvme-cli/issues/1647 , I can reproduce this on Debian.

[2022-09-09 10:05] jk-ozlabs commented on #466
Looks like @drakedog has a PR already: https://github.com/linux-nvme/libnvme/pull/468

[2022-09-09 11:11] #467 closed

[2022-09-13 10:19] martin-gpy commented on #454
Yes, thanks for explaining. This may be closed.

[2022-09-13 10:39] #454 closed

[2022-09-14 12:21] igaw opened #471 "Splitting the address in the JSON output"
Should we split the 'address' for JSON?

Currently we have:

[code]

I don't think we should change the shell output (again)? The nvme-cli 1.x version uses spaces as separator and not comma as by nvme-cli 2.x

But it would make sense to split the values into fields in the JSON output though? Something like

[code]

But I assume this is something for 2.x of libnvme. But we might want to keep the cu

[2022-09-14 12:27] igaw commented on #408
Anything left to be done? It looks like we can close this issue, no?

[2022-09-14 14:48] mwilck commented on #471
I am for it, but obviously this is sort of an external API which is consumed by other tools.

[2022-09-20 07:36] lightgoleft opened #472 "Unused offset for nvme_mi_admin_get_log_telemetry_host"
The offset is not used in both nvme_get_log_telemetry_host() and nvme_mi_admin_get_log_telemetry_host().

The log can be large especially for MI transportation. We need offset for partial log transfer.

[2022-09-20 07:36] lightgoleft commented on #472
@jk-ozlabs

[2022-09-22 07:54] igaw opened #475 "uint128 type is not always available"
It turns out the uint128 type is not available on all platforms/compiler combinations:

https://build.opensuse.org/package/live_build_log/home:wagi:branches:bsc1201701/nvme-cli/openSUSE_Tumbleweed/i586

[code]

[2022-09-22 07:57] igaw commented on #475
@jk-ozlabs it's not just ARM which hits this bug.

[2022-09-22 08:43] jk-ozlabs commented on #475
ah! Good to know, thanks.

[2022-09-22 08:51] igaw commented on #466
The fixes are in the tree. Closing bug report.
8fd81cdb88bb ("mi: Fix C++ compiler errors")

[2022-09-22 08:51] #466 closed

[2022-09-22 09:10] igaw commented on #475
Will look into it after processing the github backlog.

[2022-09-22 16:14] igaw opened #477 "Rename nvme_cmd_get_log_telemetry_host_lsp to nvme_log_telemetry_host_lsp"
Agreed. I will drop the `get`.
FWIW, I was trying to stay consistent with another "get log" LSP enum (i.e. `nvme_cmd_get_log_telemetry_host_lsp`)

_Originally posted by @martin-belanger in https://github.com/linux-nvme/libnvme/pull/476#discussion_r977777108_

[2022-09-23 03:59] jk-ozlabs commented on #475
Should we just revert those patches introducing `uint128_t` usage? or do we need something more involved instead?

[2022-09-23 05:44] drakedog2008 opened #478 "FR: define nvme-mi log truncate size in header"
Hi @jk-ozlabs ,

Can we define the size in header file. So the client doesn't need to define their own and conflict in case of future change.

https://github.com/linux-nvme/libnvme/blob/master/src/nvme/mi.c#L502

[2022-09-23 06:34] igaw commented on #475
Not sure, the thing is a `long double` is 12 bytes on 32bit arch and not 16 bytes long either. So I am pondering if we should introduce our own 16 byte type which maps on uint128_t where it is available and on 32bit something home grown. We don't need any math features such as addition things from this type. It's just reading the value and printing it.

[2022-09-23 06:51] jk-ozlabs commented on #478
This should be transparent to the client; it's just the size that is transferred in each chunk. Is there a need to know this chunk size outside of the library?

[2022-09-23 08:15] jk-ozlabs commented on #475
yeah, I think that `long double` wouldn't suit either, being a floating-point type. I like the idea of a compat type that we have our own print function for.

[2022-09-23 08:28] igaw commented on #475
So here is a first dodgy idea how to get it working again but not really fixing it for 32bit.

[code]
[code]

[2022-09-23 08:30] igaw commented on #475
I would like to keep the 64bit code in place, that means things like

[code]

could be left in place.

[2022-09-23 09:59] igaw commented on #475
So here an idea which could work. In case we don't have the `__uint128_t` type, we just define a pointer type and do the conversion magic with buffers. This might work for our usage of the `uint128_t` type. As we just read and print it. There is no other access to it, so we might just get away. It's not a beauty but I really like to avoid to introduce something like `gmp` as it just makes everythi

[2022-09-23 10:45] igaw commented on #475
D'oh the report should have been against nvme-cli not libnvme.

[2022-09-23 10:45] igaw commented on #475
@jk-ozlabs can you give this a test and see if it actually works?

[2022-09-23 12:08] jk-ozlabs commented on #475
Yep, I like that second option, as it avoids the floating point confusion there. However, I'm not sure about:

[code]

\- as it should (ideally) be a fixed-size scalar type, and not pointer-size dependent.

We could just keep everything as `__nvme_uint128_t`?

Regardless, will give it a go on 32-bit platforms.

[2022-09-23 14:16] igaw commented on #475
As it turns out it was dead simple:

[code]

Replaced all `__uint128_t` users with `nvme_uint128_t` all seems to work so far... (famous last words)

[2022-09-23 17:39] lightgoleft commented on #478
Given all nvme calls are blocking for libnvme(mi), the client need to schedule the tasks itself.

One scenario is that the we need the thermal info for at most 1 second delay for pid loop. The log will be definitely large to block so truncate  will be done by client. It is good (but not necessary) to know the payload size of the lib implementation so the client could better optimize the performanc

[2022-09-23 17:41] drakedog2008 commented on #478
Given all nvme calls are blocking for libnvme(mi), the client need to schedule the tasks itself.

One scenario is that the we need the thermal info for at most 1 second delay for pid loop. The log will be definitely large to block so truncate will be done by client. It is good (but not necessary) to know the payload size of the lib implementation so the client could better optimize the performance

[2022-09-24 01:31] jk-ozlabs commented on #475
nice!

[2022-09-24 01:40] jk-ozlabs commented on #478
A couple of comments/questions:

OK, that's reasonable

Not sure I understand this by "client", do you mean the caller of the libnvme API?

In this case, wouldn't it be much better for the truncate to be done by libnvme instead? Otherwise we're transferring data from the drive, but then throwing part of that away. If there's a specific range of bytes in the Log Page that you need for this regular

[2022-09-25 10:23] jk-ozlabs commented on #475
OK, this mostly works, except it looks like we want `_to_string` to print in decimal, given the current implementation.

I have a patch in progress - everything else seems to work fine, but we'll need some kind of decimal conversion to keep consistent with the current version.

[2022-09-25 12:27] jk-ozlabs commented on #475
PR sent: https://github.com/linux-nvme/nvme-cli/pull/1685

[2022-09-26 07:19] igaw commented on #475
Indeed, I was a bit sloppy with my `printf` attempt. Let's keep it backwards compatible and use your version.

[2022-09-26 07:22] igaw commented on #475
Merged everything. Let's see if there are any fallouts from this.

[2022-09-26 07:22] #475 closed

[2022-09-26 13:33] tbzatek opened #485 "nvme_scan_topology() triggers I/O errors logged in kmsg"
The `NVME_IDENTIFY_CNS_NS_DESC_LIST` Namespace Identification Descriptor list (CNS Value 0x03) is a NVMe 1.3 feature yet it's called for all devices as part of the topology scanning, trigerred e.g. by `nvme_scan_topology()` from the `nvme list` command.

https://github.com/linux-nvme/libnvme/blob/212a72bffe2edbf2047defa85682e37ad5c9b262/src/nvme/tree.c#L1785-L1786

This is expected to fail on devi

[2022-09-26 13:54] igaw commented on #485
IIRC, @keithbusch suggest to silence this message in the kernel.

[2022-09-26 13:57] igaw commented on #485
https://github.com/linux-nvme/nvme-cli/issues/1593

[2022-09-26 14:02] tbzatek commented on #485
Ah, good, thanks for the link!

[2022-09-28 18:32] drakedog2008 commented on #478
Yes.

Given the libnvme is synchronous api, the internal truncate within the libnvme won't unblock the caller. So for the high priorities with concurrent task scenario , the client has to truncate the transfer by itself to do scheduling and context(task) switch. The internal chuck size may be a reasonable parameter for the client to determine the client side trunc size.

yes. offset is required fo

[2022-10-18 08:18] igaw opened #495 "Use buffer setter/getter API instead of 'struct arg' to be future proof"
During [ALPSS](https://alpss.at) Christoph Hellwig, @keithbusch and I had a discussion on the API. As we already experienced the 'struct args' idea to make it future proof is a bit of a hassle. First, we need to versioning the structs and figure out on execution time which version the `struct args` have. Second, not all function are using `struct args`.

Christoph suggested we should look at how t

[2022-10-18 08:23] igaw opened #496 "meson minimum versioning warning"
[code]

[2022-10-18 16:41] igaw opened #498 "Move config file parsing to frontend (nvme-cli)"
After some discussion during [ALPSS](https://alpss.at) we should aim to move all the config reading parts to the fronted. There are all the data structs available to config data to the library.

_Originally posted by @igaw in https://github.com/linux-nvme/libnvme/issues/491#issuecomment-1282688300_

[2022-10-20 05:19] drakedog2008 commented on #456
nvme_status_field  doesn't take full length of a Word.  Can we make a hack like rc(nvme_mi_resp_status)  =  nvme_mi_resp_status + max(nvme_status_field) as a walk-around? I know it is ugly but return code with double meaning really confuses the client, especially for the cases that some nvme_status_field isn't really an error (e.g. NVME_SC_FW_NEEDS_SUBSYS_RESET).

[2022-10-20 06:28] jk-ozlabs commented on #456
We could certainly look at packing the various status fields in a better way - which would be a proper fix for this bug, rather than a work-around.

The issue at the moment is the aliasing of the status field of the CQE DW 3, and the Status field in the MI response data.

However, we might be in luck here: the parts that we use from the DW3 are only 15 bits (sections 3.3.3.2 and 3.3.3.2.1 of the N

[2022-10-20 07:07] jk-ozlabs commented on #456
The change would be something like this:

[code]

... plus an addition to `nvme-cli` using `nvme_status_is_mi()` when decoding the status values, to print the MI values properly.

[2022-10-20 20:18] drakedog2008 commented on #456
Yes. The DW3 is only 15 bit so why cannot we use the bit 16 as the switch bit for mi status and nvme status, so we don't need to worry about the sizeof(int).

I don't really think the client need both status at the same time. The cdw3 is only validate when mi status is Success? That is why I suggested using `rc(nvme_mi_resp_status) = nvme_mi_resp_status + max(nvme_status_field)`, which equals to u

[2022-10-20 21:41] drakedog2008 commented on #456
I did forgot the rc is an integer, so that the bit 16 is taken as sign bit on 16 bit integer machines.

Maybe we can make an integer rc like:
rc(nvme_status_field) = nvme_status_field
rc(protocol/systemclt) = -257( two's complement system)
rc(nvme_mi_resp_status) = ~nvme_mi_resp_status

[2022-10-21 01:37] jk-ozlabs commented on #456
Yep, I think we're suggesting the same thing here, just differing on where to put the 'type' bit.

As you say, we don't have space if int is 16-bit - but I don't think we need to worry about those platforms here (@igaw : any preferences on 16-bit-int platform support?)

If we only care about 32-bit ints, then we can keep it simpler by using the type bit, rather than having an unusual value (rather

[2022-10-21 02:36] drakedog2008 commented on #456
16bit int should have the space for all NVMe/MI status but I agree with anything else you said.

[2022-10-21 07:57] igaw commented on #456
Not really grasping the complete discussion (just skimmed over). But it looks like you want to encode the return value with additional information. To question of 16 bit integers, these would be `short integers`. `integers` types are 4 bytes. The function uses `int` thus 4 bytes are a safe bet :)

I was wondering if you could use errno in the case status != 0?

[2022-10-21 08:03] jk-ozlabs commented on #456
not always - the question is whether we want to support that; my inclination would be no.

I think we can get away without a complex return value, and I think we can encode the multiple status values while preserving
backwards API compatibility. We can't really use errno there, as we'll just be overloading another namespace.

[2022-10-21 08:15] igaw commented on #456
Ah you are referring those arcane systems :). Paul McKenney always reminds me of those.
But these days any sane/relevant platform has 32 bits. So I don't worry to much about `sizeof(int) != 4`.

Yes, there is that.

FYI, I think we should start thinking on a 2.x schedule. I would like to hold of until February
with proper 2.x work as there is an incoming feature I need to work on but the spec has

[2022-10-21 08:25] jk-ozlabs commented on #456
OK, sounds good - 32-bit `int` it is then! I'll get a patch proposed for this.

Your 2.x plan sounds good; I'll get the sketches started for an encapsulated device handle API change, so we will have plenty of time to discuss beforehand.

[2022-10-21 08:27] igaw commented on #456
2.x: FWIW, @safl wants also to work on this but let's get this discussion into the right issue :)

[2022-10-21 17:37] drakedog2008 commented on #456
So this is the solution before 2.x, right?

[2022-10-22 03:21] jk-ozlabs commented on #456
Yep! this proposal should be API compatible with what we have at the moment.

We may be able to (later) make this a little more obvious with a non-scalar return type, but that would break the API, so that would need to wait until a 2.x release.

[2022-10-24 12:56] #456 closed

[2022-10-24 12:56] igaw commented on #456
Okay, merged. Let's see what will explode :)

[2022-10-27 15:24] igaw commented on #394
Fixed the problem by dropping the dependency on libuuid (https://github.com/linux-nvme/libnvme/commit/7aab6de685df525ab9dda6c0d3d1fecab91bc5d2)

[2022-10-27 15:24] #394 closed

[2022-10-27 15:24] igaw commented on #408
No feedback; closing the report.

[2022-10-27 15:24] #408 closed

[2022-10-27 15:33] igaw opened #509 "Static library support"
There a couple of problems when trying to build the library as pure static library via:

`CFLAGS=-static meson setup .build --wrap-mode forcefallback --default-library=static `

[code]

 - systemd: we should propably just disable the build of the example for this configuration
 - getaddtrinfo & co: not sure how to handle it: dummy implementation? some sort of home grown solution?

[2022-10-27 15:52] igaw commented on #444
This is likely to be a duplicate of #485. It's a kernel bug caused by an over eager error reporting code snipped. Should be fixed eventually by https://lore.kernel.org/linux-nvme/20221027150417.1954662-1-kbusch@meta.com/

[2022-10-27 15:52] #444 closed

[2022-10-28 07:16] #472 closed

[2022-10-28 09:24] #496 closed

[2022-11-01 16:29] tkenbo opened #516 "Cannot read the entire persistent event log"
[code]
I have a drive with TLL (total log length) to be 893320
[code]

However when I request the entire log, I get the Invalid argument error.
[code]

It looks like failed in nvme_alloc_request?
[code]

Thanks for your help in advance.

[2022-11-01 16:47] keithbusch commented on #516
The size exceeds what the kernel driver fit in a request. A log this size will need to be split into smaller requests.

[2022-11-01 17:12] tkenbo commented on #516
thanks for your response.  yes but persistent_event_log function does not have the offset parameter and it always read from the beginning, thus cannot read the entire log.  In the following function, lpo is always set to 0.
[code]

[2022-11-01 17:30] keithbusch commented on #516
Yeah, I'm saying it needs to use a loop, like have it call `nvme_get_log_page()` instead of directly calling `nvme_get_log()`.

[2022-11-02 08:26] igaw opened #518 "pkg-config dependency"
We should list all library dependencies in the pkg-config file. Currently, we only do `Libs: -L${libdir} -lnvme`

[2022-11-02 08:27] igaw commented on #518
https://github.com/linux-nvme/nvme-cli/issues/1717

[2022-11-02 14:31] igaw commented on #518
I think the current installed libnvme.pc is correct. It lists the library dependencies in the private section.

[code]

Not the libnvme.pc.in template is unused. We just forgot to remove it.

[2022-11-02 15:14] #518 closed

[2022-11-07 09:16] igaw commented on #516
Make sense. The only question I have is: should we move nvme_get_log_page() to the `ioctl.h`. Currently it is declared in `linux.h` which includes `ioctl.h, which gives us then a circular dependency.

[2022-11-07 15:38] martin-belanger opened #523 "Double-free error"
This to track the issue we previously discussed. Note that this may have already been fixed by https://github.com/linux-nvme/libnvme/pull/512.

One of our testers was running SLES15 SP4. He observed this double free error that was triggered by the nvme-cli auto-connect  udev rule (`70-nvmf-autoconnect.rules`).

[code]

[2022-11-07 16:11] igaw commented on #523
Is it still happening with the fix from #512?

[2022-11-07 16:11] #516 closed

[2022-11-07 16:36] igaw commented on #523
Obviously, someone at SUSE is able to provide you with a test rpm :)

[2022-11-08 09:51] bdrung opened #524 "test-mi: ../test/mi.c:333: test_scan_ctrl_list_cb: Assertion `hdr[11] == nvme_mi_dtyp_ctrl_list' failed"
Running the test suite on s390x (big endian) fails on Debian and Ubuntu:
[code]

Full log: https://buildd.debian.org/status/fetch.php?pkg=libnvme&arch=s390x&ver=1.2-1&stamp=1667874947&raw=0

This looks to an little vs big endian issue to me.

[2022-11-08 13:15] igaw commented on #524
@jk-ozlabs

[2022-11-08 15:35] martin-belanger commented on #523
Closing. Our testers could not reproduce the issue with libnmve 1.2.

[2022-11-08 15:35] #523 closed

[2022-11-09 00:54] jk-ozlabs commented on #524
Nice to have some BE coverage in the tests, thanks @bdrung . I'll get a BE setup going here and replicate; I'm pretty sure I've found the underlying issue but will also need to verify the fix.

[2022-11-09 09:24] igaw commented on #524
As previously mentioned we should be able to run the tests also in the cross builds with qemu.

[2022-11-10 07:45] #524 closed

[2022-11-10 08:24] jk-ozlabs commented on #524
Thanks! I wonder if we can enforce the current `__leXX` type annotations? that would have caught two of these cases.

[2022-11-10 08:37] igaw commented on #524
Maybe it could be done with `sparse` but I think we would need to figure out how to use it correctly:

[code]

[2022-11-11 01:02] jk-ozlabs commented on #524
Excellent, thanks for confirming.

From the package build log:

Nice! I am looking forward to a s390-based Baseboard Management Controller! :laughing:

[We did just do a [powerpc64le based BMC](https://codeconstruct.com.au/docs/dcscm-openbmc/), so maybe that's not too far off?]

[2022-11-15 18:23] martin-belanger commented on #401
I did exactly that for nvme-stas. The trick is to provide a `.readthedocs.yaml` ([linux-nvme/nvme-stas/.readthedocs.yaml](https://github.com/linux-nvme/nvme-stas/blob/main/.readthedocs.yaml)). I also created a special meson option (`readthedocs=true`) so that the Read-the-Docs bot can build only the documentation and not the whole code.

With this I no longer have to copy pre-compiled documentatio

[2022-11-16 10:39] igaw commented on #401
Thanks @martin-belanger for the tip with .readthedocs.yaml file. There wasn't much missing to get it going. There was already the 'rst' doc target. readthedocs is now building the docs from the source. Yay!

[2022-11-16 13:42] #509 closed

[2022-11-16 14:07] igaw commented on #509
@martin-belanger This should bring use a bit closer to a the Python binding library for cross builds. For example the CI build doesn't disable the Python binding anymore :)

[2022-11-18 15:44] martin-belanger opened #537 "Bad UUID size in nvmf_get_tel()"
The recent changes to remove a dependency on libuuid has introduced the following bug. A pull request is on the way.

[code]

[2022-11-18 15:45] martin-belanger commented on #537
https://github.com/linux-nvme/libnvme/pull/538

[2022-11-23 00:22] jinliangw opened #541 "`nvme_get_log_page` ignored `arg->lpo` input parameter"
Inside the in-band [nvme_get_log_page function](https://github.com/linux-nvme/libnvme/blob/master/src/nvme/ioctl.c#L433),
the input parameter `arg->lpo` is overwrote accidentally.
The consequent is that the functions will read log page starting from offset 0, disregarding `arg->lpo` input parameter.

[2022-11-23 08:40] igaw opened #543 "Add libdbus as subproject dependency"
Add libdbus to Wrap DB and consume the library than as fallback via subprojects.

See also:
 - https://github.com/linux-nvme/nvme-cli/issues/1734
 - https://gitlab.freedesktop.org/dbus/dbus/-/merge_requests/368
 - https://github.com/igaw/wrapdb/tree/dbus-1.15.2

[2022-11-23 14:49] igaw opened #544 "Use HAVE_$func instead of HAVE_LIBNSS"
https://github.com/linux-nvme/libnvme/blob/e3816cdcb3ad091badea18f4ea6f6df905e6db74/meson.build#L184

It's better to look for the function we want to use and introduce HAVE_$func.

[2022-11-29 23:41] jinliangw commented on #541
The issue still exists, but the example is not applied becase  nvme-cli `get-log` subommand doesn't use [nvme_get_log_page function](https://github.com/linux-nvme/libnvme/blob/master/src/nvme/ioctl.c#L433)

[2022-11-30 10:13] igaw commented on #541
Okay, let's reopen it for tracking it.